<ion-view title="{{title}}">
    <analytics screen="home"></analytics>

    <ion-nav-buttons side="right">

        <button ng-click="openNotifications()" class="button button-icon button-home ic_notification"><span class="badge badge-assertive header-badge" ng-if="countNotification>0">{{getCountNotification(countNotification)}}</span></button>

    </ion-nav-buttons>

    <ion-content ng-class="{'empty_bookmarks': primaryLinks.length==0}">
        <div ng-if="primaryLinks.length==0">
            <ng-include src="'templates/emptyHomepage.html'"></ng-include>
        </div>
            <!--<div class="row credits_row">
            <div class="col col-center">
                <a href="#" onclick="window.open('https://www.visittrentino.info/it/esperienze/trentino-guest-card', '_system', 'location=yes'); return false;"><img class="image center"  src="img/trentinoCard.jpg" width="100%" />
                </a>
            </div>
        </div>-->
    <ion-list class="home-list" ng-if="primaryLinks.length>0">
      <ion-item ng-repeat="m in primaryLinks" ng-last-repeat="primaryLinks" ng-click="go(m.state)">
        <button class="button button-block">
          <div class="row">
            <i class="col-center icon" ng-class="m.icon" style="{{'color: '+m.color}}"></i>
            <div class="col col-center">
              <ng-include src="getBookmarkItemTemplate(m.type)"></ng-include>
            </div>
          </div>
        </button>
      </ion-item>
              <!--<ion-item >
        <button class="button button-block">
                <a href="#" onclick="window.open('https://www.visittrentino.info/it/esperienze/trentino-guest-card', '_system', 'location=yes'); return false;"><img class="image center"  src="img/trentinoCard.jpg" width="100%" />
                </a>
        </button>
      </ion-item>-->
      <!--<div class="row guest-card-row ">
            <div class="button button-guest-card" onclick="window.open('https://www.visittrentino.info/it/esperienze/trentino-guest-card', '_system', 'location=yes'); return false;">
               <img class="image  guest_card_image"  src="img/trentinoCard.png" width="100%" />
               <span>{{'home_guest_card'|translate}}</span>
            </div>
        </div>-->
           <button class="button button-block" onclick="window.open('http://www.alpecimbra.it/it/attivita/trentino-guest-card', '_system', 'location=yes'); return false;">
          <div class="row">
            <img class="image  guest_card_image"  src="img/trentinoCard.png" width="100%" />
            <div class="col col-center">
              <span style='font-family:RobotoDraft,Roboto,"Helvetica Neue","Segoe UI",sans-serif;'>{{'home_guest_card'|translate|uppercase}}</span>
            </div>
          </div>
        </button>
    </ion-list>
  </ion-content>