<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>453601816446-1tb9tp8nsvpn05vo2r0g3hde84q4e7u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453601816446-1tb9tp8nsvpn05vo2r0g3hde84q4e7u3</string>
	<key>API_KEY</key>
	<string>AIzaSyA3M1UkTwF9wdnlQK4t9QeXkL9W7WO381o</string>
	<key>GCM_SENDER_ID</key>
	<string>453601816446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.trentorise.smartcampus.viaggiarovereto</string>
	<key>PROJECT_ID</key>
	<string>fbk-smartcommunitylab</string>
	<key>STORAGE_BUCKET</key>
	<string>fbk-smartcommunitylab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453601816446:ios:3a43ac2660c40c52</string>
	<key>DATABASE_URL</key>
	<string>https://fbk-smartcommunitylab.firebaseio.com</string>
</dict>
</plist>