<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>278940801715-jjt745k3p5si8jnophdc800h4a79a1tp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278940801715-jjt745k3p5si8jnophdc800h4a79a1tp</string>
	<key>API_KEY</key>
	<string>AIzaSyCSJLx56cyPF0gFo_Hle2P2-fQp6gOyNhA</string>
	<key>GCM_SENDER_ID</key>
	<string>278940801715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.trentorise.smartcampus.viaggiatrento</string>
	<key>PROJECT_ID</key>
	<string>demoprj-857cb</string>
	<key>STORAGE_BUCKET</key>
	<string>demoprj-857cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:278940801715:ios:206b5dc5c480d540</string>
	<key>DATABASE_URL</key>
	<string>https://demoprj-857cb.firebaseio.com</string>
</dict>
</plist>