<ion-view title="{{'home_gamification' | translate}} {{currentUser.nickName}}">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="goHome()">
      <i class="ion-android-arrow-back" style="font-size:30px;"></i>
    </button>
  </ion-nav-buttons>

  <ion-content ng-class="{'margin-for-trackingbar-tab':buttonMapNeed()}" ng-init="loadMore()">
    <div ng-if="!!status && !noBlack">
      <ion-scroll class="ranking" ng-style="rankingStyle" delegate-handle="blacklistScroll">
        <ion-list>
          <ion-item ng-repeat="item in blacklist" class="blackitem">
            <div class="row">
              <div class="col col-90">
                <img class="challenge-profile-img" ng-src="{{getUserImg(item.id)}}">
                <span class="challenge-profile-text">{{item.nickname}}</span>
              </div>
              <!-- <div class="col col-10 ">
                <img class="profile-img" ng-src="{{getUserImg(item.id)}}">
              </div>
              <div class="col col-80 blacklist-name">
                <span>{{item.nickname}}</span>
              </div> -->
              <div class="col col-10">
                <a class="button-icon icon ion-close-circled" ng-click="removeFromBlacklist(item.id)"></a>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-scroll>
    </div>
    <div class="text-center" ng-if="noBlack || blacklist == null || blacklist.length==0">
      <h4>{{'no_blacklist' | translate}}</h4>
    </div>
  </ion-content>
</ion-view>
