<ion-view title="{{'home_gamification' | translate}} {{currentUser.nickName}}">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goHome()">
            <i class="ion-android-arrow-back" style="font-size:30px;"></i>
        </button>
    </ion-nav-buttons>

    <ion-content ng-class="{'margin-for-trackingbar-tab':buttonMapNeed()}" ng-init="loadMore()">
        <div ng-if="!!status && !noBlack">
            <ion-scroll class="ranking" ng-style="rankingStyle" delegate-handle="blacklistScroll">
                <ion-list>
                    <ion-item ng-repeat="item in blacklist" class="blackitem">
                        <div class="row">
                            <div class="col col-10 img-profile-little">
                                <img class="profile-img-little" src='img/game/generic_user.png'>
                            </div>
                            <div class="col col-80 blacklist-name">
                                <span>{{item.nickname}}</span>
                            </div>
                            <div class="col col-10">
                                <a class="button-icon icon ion-close-circled" ng-click="removeFromBlacklist(item.id)"></a>
                            </div>
                        </div>
                    </ion-item>

                    <!-- <ion-infinite-scroll ng-if="maybeMore" on-infinite="loadMore()"></ion-infinite-scroll> -->
                </ion-list>
            </ion-scroll>
        </div>
        <div ng-if="noBlack">
            <h4 class="label">{{'no_blacklist' | translate}}</h4>
        </div>

        <div ng-if="blacklist == null ">
            <h4>{{'no_blacklist' | translate}}</h4>
        </div>
    </ion-content>
</ion-view>