<ion-view title="{{'home_gamification' | translate}} {{currentUser.nickName}}">
	<ion-nav-buttons side="right">
		<button ng-click="openRules()" class="button button-icon button-home ion-information-circled"></button>
	</ion-nav-buttons>

	<ion-content class="game-challenges" has-bouncing="false" scroll="false">
		<!-- Filter -->
		<div class="filter item-accordion" ng-if="!!filter.options">
			<ion-item class="item-accordion-header item-icon-right" ng-click="filter.toggle()">
				<div>{{!!filter.selected ? ('game_tab_challenges_filter_' + filter.selected) : '' | translate}}</div>
				<i class="icon ion-arrow-down-b" ng-class="{'open': filter.open}"></i>
			</ion-item>
			<div class="item-accordion-content" ng-show="filter.open">
				<ion-list>
					<ion-item ng-repeat="option in filter.options" ng-click="filter.filterBy(option)">
						{{'game_tab_challenges_filter_' + option | translate}}
					</ion-item>
				</ion-list>
			</div>
		</div>

		<!-- Results -->
		<ion-scroll class="padding-right padding-left challenges" ng-style="challengesStyle" delegate-handle="challengesScroll">
			<ion-list>
				<ion-item class="challenge" ng-repeat="challenge in challenges" ng-class="{'challenge-old': !challenge.active, success: !!challenge.success, fail: !challenge.success}">
					<div class="challenge-desc">{{challenge.challDesc}}</div>
					<div class="challenge-countdown" ng-if="!!challenge.active" ng-init="days = {days: challenge.daysToEnd}">
						{{'game_tab_challenges_daysToEnd' + (challenge.daysToEnd == 1 ? '_1' : '') | translate:days}}
					</div>
					<div class="challenge-result" ng-if="!challenge.active">
						{{'game_tab_challenge_success_' + challenge.success | translate}}
					</div>
					<div class="challenge-status">
						<a class="challenge-info" href="" ng-click="showChallengeInfo(challenge)"><i class="icon ion-information-circled"></i></a>
						<span class="challenge-count">
							{{'game_tab_challenges_status' + (!challenge.active ? '_final' : '') | translate}}:
							{{!!challenge.success ? challenge.challTarget : challenge.row_status}}/{{challenge.challTarget}}
						</span>
					</div>
				</ion-item>
			</ion-list>
		</ion-scroll>
	</ion-content>
</ion-view>
