<ion-view  ng-init="initConf()">
    <ion-nav-title  class="home-title">
        {{'home_configure_challenge' | translate}} {{currentUser.nickName}}
    </ion-nav-title>
  <ion-content>
    <div class="row">
      <div class="col lab-challenge-conf">{{'lbl_challenge_configure_type'|translate}}</div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button configure-challenge-button icon ic_foot" ng-class="{'chall-selected':isChallengeMean('foot'), 'chall-not-selected':!isChallengeMean('foot') }"
          ng-click="setChallengeMean('foot')"></button>
      </div>
      <div class="col">
        <button class="button configure-challenge-button icon ic_bike" ng-class="{'chall-selected':isChallengeMean('bike'),'chall-not-selected':!isChallengeMean('bike')}"
          ng-click="setChallengeMean('bike')"></button>
      </div>
      <div class="col">
        <button class="button configure-challenge-button icon ion-leaf" ng-class="{'chall-selected':isChallengeMean('leaf'),'chall-not-selected':!isChallengeMean('leaf')}"
          ng-click="setChallengeMean('leaf')"></button>
      </div>
    </div>

    <div class="row">
      <div class="col lab-challenge-conf" style="padding-top:30px;" ng-bind-html="getChooseOpponentString()"></div>
    </div>
    <div class="row">
      <div class="col popup-chall" ng-click="showWhy()"><a class="button-icon icon ion-ios-information">
          <span class="popup-string">{{'lbl__challenge_cant_see_player'|translate}}</span>
        </a>
      </div>
    </div>
    <div class="row row-center" ng-if="!challenge.player.nickname">
      <div class="col">
        <button class="button button-block configure-list-button" ng-click="chooseFromList()">
          <span>{{'lbl_challenge_choose_from_list'|translate}}</span>
      </div>

    </div>
    <div class="row" ng-if="!challenge.player.nickname">
      <div class="col col-80">
        <playerautocomplete on-clear="clearFrom" getUserImg="getUserImg" player="player" ng-model="playerName"
          attr-placeholder="{{'lbl_insert_nickname' | translate}}" click-activation="false" data="playersName" on-type="typeName"
          on-select="changeStringName" ng-blur="setNameParam">
        </playerautocomplete>
        <!-- <input class="input-challenge-search" type="text" placeholder="{{'ph_challenge_nick'|translate}}"> -->
      </div>
      <div class="col button-challenge-search">
        <a class="icon ion-search"></a>
      </div>
    </div>
    <div class="row challenge-img-row" ng-if="challenge.player.nickname">
      <div class="col col-40">
        <div class="img-container challenge-img">
          <img class="challenge-profile-img" ng-src="{{getUserImg(challenge.player.id)}}">
        </div>
      </div>
      <div class="col col-40">
        {{challenge.player.nickname}}
      </div>
      <div class="col button-challenge-remove" ng-click="removePlayer()">
        <a class="icon ion-android-cancel"></a>
      </div>
    </div>
    <div class="row" style="padding-top: 30px;" ng-if="challenge.player.nickname && !preview">
      <div class="col">
        <button class="button button-block configure-list-button" ng-click="calculateTarget()">
          <span>{{'lbl_challenge_calculate'|translate}}</span>
      </div>
    </div>
    <div ng-if="preview">
      <div class="row">
        <div class="col lab-challenge-conf" style="padding-top:30px;padding-bottom:0px;">{{'lbl_challenge_target'|translate}}</div>
      </div>
      <div>
        <ng-include src="getConfigureTemplate(challenge)" style="width: 100%;"></ng-include>
      </div>
      <div class="row" ng-if="challenge.player.nickname && challenge && challenge.mean">
        <div class="col">
          <button class="button button-block configure-list-button" ng-click="requestChallenge()">
            <span>{{'lbl_challenge_request'|translate}}</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
