<ion-view>
    <ion-nav-title>
        {{'diary_title' | translate}}
    </ion-nav-title>
    <ion-nav-buttons side="right">
            <button ng-click="openNotifications()" class="button button-icon button-home ic_notification"><span class="badge badge-assertive header-badge"
                ng-if="countNotification>0">{{getCountNotification(countNotification)}}</span></button>
        <!-- <div class="profile-container">
            <img class="bar-profile-img" ng-if="profileImg" ng-src="{{profileImg}}" ng-click="openProfile()">
        </div> -->
    </ion-nav-buttons>
    <ion-content class="game-ranking" has-bouncing="false" scroll="false" ng-class="{'margin-for-trackingbar-tab':buttonMapNeed()}">
        <div class="filter item-accordion" ng-if="!!filter.options">
            <ion-item class="item-accordion-header item-icon-right" ng-click="filter.toggle()">
                <div ng-if="!filter.open">{{!!filter.selected ? ('game_tab_diary_filter_' + filter.selected) : '' | translate}}</div>
                <i class="icon ion-arrow-down-b" ng-class="{'open': filter.open}"></i>
            </ion-item>
            <div class="item-accordion-content" ng-show="filter.open">
                <ion-list>
                    <ion-item ng-repeat="option in filter.options" ng-click="filter.filterBy(option)" style="padding: 2px; min-height: 30px;">
                        <div ng-class="{ 'becomeblue' : filter.selected!=option}">{{'game_tab_diary_filter_' + option | translate}}</div>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <ion-scroll class="ranking" ng-style="rankingStyle" delegate-handle="diaryScroll" ng-if="!noDiary()">
            <ion-list>
                <div style="margin-top: 25px">
                    <div ng-repeat="day in days">
                        <div class="message-item">
                            <div class="timeline-line">
                            </div>
                            <div class="timeline-dot">
                                <H5 class="timeline-day"> {{day.name| date:'dd/MM'}} </H5>
                            </div>
                            <div style="height: 8px"></div>

                            <div ng-if="message && message.type && !isTracking(message)" ng-repeat="message in day.messages track by $index" ng-click="{{getState(message)}}"
                                class="message-inner" ng-class="{'multimodal-message':message.multimodal}" style="border-color: {{getStyleColor(message)}}">
                                <!-- <div style="height: 8px" ng-if="message.multimodal && message.first" ></div> -->

                                <div class="row row-center diary-line">
                                    <div class="timeline-multimodal-dot " style="background: {{getStyleColor(message)}};" ng-if="message.multimodal && message.first">
                                        <H5 class="timeline-multimodal"> {{'diary_multimodal'| translate}} </H5>
                                    </div>
                                    <div class="timeline-not-multimodal-dot " style="background: {{getStyleColor(message)}};" ng-if="!message.multimodal">
                                    </div>
                                    <i class=" timeline-col icon {{getIcon(message)}}" style="background-color: {{getStyleColor(message)}}; color:{{getIconColor(message)}}"></i>
                                    <div class=" timeline-msg" ng-bind-html="getString(message) | translate: getParams(message)">
                                    </div>
                                    <div class="col col-10 col-info" ng-if="getState(message)">
                                        <a class="challenge-info">
                                            <i class="icon ion-ios-arrow-right"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll ng-if="maybeMore" on-infinite="loadMore()"></ion-infinite-scroll>
            </ion-list>
        </ion-scroll>
        <div ng-if="noDiary()">
            <h4>{{'no_diary' | translate}}</h4>
        </div>
    </ion-content>
</ion-view>