<ion-view>
     <ion-nav-title>
            {{'diary_title' | translate}}
    </ion-nav-title>
     <ion-content class="game-ranking" has-bouncing="false" scroll="false">
        <div class="filter item-accordion" ng-if="!!filter.options">
            <ion-item class="item-accordion-header item-icon-right" ng-click="filter.toggle()">
                <div ng-if="!filter.open">{{!!filter.selected ? ('game_tab_diary_filter_' + filter.selected) : '' | translate}}</div>
                <i class="icon ion-arrow-down-b" ng-class="{'open': filter.open}"></i>
            </ion-item>
            <div class="item-accordion-content" ng-show="filter.open">
                <ion-list>
                    <ion-item ng-repeat="option in filter.options" ng-click="filter.filterBy(option)"  style= "padding: 2px; min-height: 30px;">
                        <div ng-class="{ 'becomeblue' : filter.selected==option}">{{'game_tab_diary_filter_' + option | translate}}</div>
                    </ion-item>
                </ion-list>
            </div>
        </div>
<!--
         <div class="line-background-for-list" style="height: 75px">
            <img src="img/ic_point.png">
         </div>
-->
        <div class="list" style="margin-top: 5px">
            <div class="qa-message-list" id="wallmessages">
    				<div class="message-item" id="m16">
                        <span style="tetx-align: left"> Today </span>
						<div class="message-inner"  style="margin-top: 10px; border: 2px solid #4caf50">
							<div class="qa-message-content">
								A
							</div>
                        </div>
                        <div class="message-inner" style="margin-top: 10px; border: 2px solid #cd251c">
							<div class="qa-message-content">
								AAA
							</div>
                        </div>
                    </div>
            </div>
			<div class="qa-message-list" id="wallmessages">
    				<div class="message-item" id="m16">
						<div class="message-inner"; style="margin-top: 10px; border: 2px solid #3cbacf">
							<div class="qa-message-content">
								B
                                <br>
                                C
                                <br>
                                D
                                <br>
                                E
							</div>
                        </div>
                    </div>
            </div>
            <div class="qa-message-list" id="wallmessages">
    				<div class="message-item" id="m16">
						<div class="message-inner" style="margin-top: 10px; border: 2px solid #2975a7">
							<div class="qa-message-content">
								F
							</div>
                        </div>
                    </div>
            </div>
        </div>
    </ion-content>

</ion-view>
