<ion-view id="tripdetails" title="{{'journey_detail' | translate}}">
    <!-- <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goBackView()">
            <i class="ion-android-arrow-back" style="font-size:30px;"></i>
        </button>
    </ion-nav-buttons> -->
    <ion-content id="content" has-header="true" scroll="false" ng-class="{'margin-for-trackingbar':buttonMapNeed()}">
        <div id="trip-event-map-container" data-tap-disabled="true">
            <!--<leaflet event-broadcast="events" center="center" markers="markers" paths="pathLine" style="width: 100%; height: 700px;" ng-init="initMap()" id="mapEventTripDetail"></leaflet>-->
            <leaflet center="center" paths="paths" markers="markers" defaults="defaults" height="500" id="eventTripMapDetail" ng-init="initMap()"></leaflet>
        </div>
        <div>
            <div ng-if="!tripIsValid()" class="not-valid-trip">
                {{'label_not_valid'|translate}}
            </div>
            <div ng-if="tripIsValid()" class="valid-trip">
                {{'label_valid'|translate}}
            </div>
            <div ng-if="tripIsValid() && message.travelScore!=null" class="trip-point">
                {{'label_points'|translate}}{{message.travelScore}}
            </div>
            <!--<div ng-if="!errorMessagePresent && message.travelScore" class="trip-point">
                {{'label_points'|translate}}{{message.travelScore}}
            </div>-->
            <div ng-if="!tripIsValid() && errorMessagePresent" class="trip-error">
                {{errorMotivation|translate}}
            </div>
            <!--time effective-->
            <div class="event-trip-detail-stats">
                <div class="event-trip-detail-stats-time" ng-if="trip.itinerary && trip.itinerary.data.startime ">{{'label_event_trip_detail_time'|translate }} {{trip.itinerary.data.startime | date:"dd/M/yyyy '-' HH:mm"}}</div>
                <!--places planned-->
                <div class="event-trip-detail-stats-from" ng-if="trip.itinerary && trip.itinerary.originalFrom.name">{{'label_event_trip_detail_from'|translate }} {{trip.itinerary.originalFrom.name}}</div>
                <div class="event-trip-detail-stats-time" ng-if="trip.itinerary && trip.itinerary.originalTo.name">{{'label_event_trip_detail_to'|translate }} {{trip.itinerary.originalTo.name}}</div>
                <div class="event-trip-detail-stats-from" ng-if="trip.itinerary && !trip.itinerary.originalFrom  && trip.itinerary.data.from">{{'label_event_trip_detail_from'|translate }} {{trip.itinerary.data.from.name}}</div>
                <div class="event-trip-detail-stats-time" ng-if="trip.itinerary && !trip.itinerary.originalTo && trip.itinerary.data.to">{{'label_event_trip_detail_to'|translate }} {{trip.itinerary.data.to.name}}</div>

                <ion-list class="list-stats" ng-if="tripIsValid()">
                    <div class="chart">
                        <div ng-if="message.travelDistances.walk>0" class="walkbgcolor statsfloat" style="{{getStyle(message.travelDistances.walk, 'walk')}}">
                            <i class="icon ic_foot"></i>
                        </div>
                        <div ng-if="message.travelDistances.walk>0" class="statstext" id="walkcolor"> {{message.travelDistances.walk/1000 | number:2}} km </div>
                        <div id="statsdiv"></div>

                        <div ng-if="message.travelDistances.bike>0" class="bikebgcolor statsfloat" style="{{getStyle(message.travelDistances.bike, 'bike')}}">
                            <i class="icon ic_bike"></i>
                        </div>
                        <div ng-if="message.travelDistances.bike>0" class="statstext" id="bikecolor"> {{message.travelDistances.bike/1000| number:2}} km </div>
                        <div id="statsdiv"></div>

                        <div ng-if="(message.travelDistances.transit+message.travelDistances.bus+message.travelDistances.train)>0" class="publicbgcolor statsfloat"
                            style="{{getStyle(message.travelDistances.transit, 'transit')}}">
                            <i class="icon  ic_urban-bus"></i>
                            <i class="icon ic_train"></i>
                        </div>
                        <div ng-if="(message.travelDistances.transit+message.travelDistances.bus+message.travelDistances.train)>0" class="statstext"
                            id="publiccolor"> {{(message.travelDistances.transit+message.travelDistances.bus+message.travelDistances.train)/1000|
                            number:2}} km </div>
                        <div id="statsdiv"></div>

                        <div ng-if="message.travelDistances.car>0" class="carbgcolor statsfloat" style="{{getStyle(message.travelDistances.car, 'car')}}">
                            <i class="icon ic_car"></i>
                        </div>
                        <div ng-if="message.travelDistances.car>0" class="statstext" id="carcolor"> {{message.travelDistances.car/1000| number:2}} km </div>
                        <div id="statsdiv"></div>
                    </div>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>