<ion-view>
    <ion-nav-title>
        {{'home_gamification' | translate}} {{title}}
    </ion-nav-title>
      <ion-nav-buttons side="left">
 <button class="button button-clear" ng-click="goHome()"><i class="ion-android-arrow-back" style="font-size:30px;" ></i></button>
</ion-nav-buttons>
      <ion-content>
          <div class="list padding">
                <button  class="button button-block button-light" ng-click="openDiary()" style="height: 58px; padding-left: 15px;">
                    <div class="row">
                        <i class="col-center ic_game_diary" style="color: #60b35c; font-size: 35px !important;"></i>
                        <div class="col col-center gamemenu-col">
                            <span class="ng-binding">{{'lbl_game_diary' | translate}}</span>
                        </div>
                    </div>
                </button>
                <button class="button button-block button-light" ng-click="openGamificationBoard()" style="height: 58px; padding-left: 15px;">
                    <div class="row">
                        <i class="col-center ic_game_points" style="color: #60b35c; font-size: 35px !important;"></i>
                        <div class="col col-center gamemenu-col">
                            <span class="ng-binding">{{'btn_score' | translate}}</span>
                        </div>
                    </div>
                </button>
                <button class="button button-block button-light" ng-click="openStatistics()" style="height: 58px; padding-left: 15px;">
                    <div class="row">
                        <i class="col-center ic_game_statistic" style="color: #60b35c; font-size: 35px !important;"></i>
                        <div class="col col-center gamemenu-col">
                            <span class="ng-binding">{{'lbl_game_statistics' | translate}}</span>
                        </div>
                    </div>
                </button>
                <button class="button button-block button-light" ng-click="openRules()" style="height: 58px; padding-left: 15px;">
                    <div class="row">
                        <i class="col-center ic_game_rules" style="color: #60b35c; font-size: 35px !important;"></i>
                        <div class="col col-center gamemenu-col">
                            <span class="ng-binding">{{'btn_rules' | translate}}</span>
                        </div>
                    </div>
                </button>
                <button class="button button-block button-light" ng-click="openFAQ()" style="height: 58px; padding-left: 15px;">
                    <div class="row">
                        <i class="col-center ion-help" style="min-width:36px; color: #60b35c; font-size: 35px !important;"></i>
                        <div class="col col-center gamemenu-col">
                            <span class="ng-binding">{{'btn_faq' | translate}}</span>
                        </div>
                    </div>
                </button>
                <button class="button button-block button-light" ng-click="openPrizes()" style="height: 58px; padding-left: 15px;">
                    <div class="row">
                        <i class="col-center ic_game_challenge" style="color: #60b35c; font-size: 35px !important;"></i>
                        <div class="col col-center gamemenu-col">
                            <span class="ng-binding"> {{'registration_prizes' | translate}}</span>
                        </div>
                    </div>
                </button>
                <button class="button button-block button-light" ng-click="forceTutorial()" style="height: 58px; padding-left: 15px;">
                    <div class="row">
                        <i class="col-center ic_game_tutorial" style="color: #60b35c; font-size: 35px !important;"></i>
                        <div class="col col-center gamemenu-col">
                            <span class="ng-binding">{{'tutorial' | translate}}</span>
                        </div>
                    </div>
                </button>
        </div>
    </ion-content>
</ion-view>
