<ion-view>
    <ion-nav-title>
        {{'home_gamification' | translate}} {{title}}
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goBackView()">
            <i class="ion-android-arrow-back" style="font-size:30px;"></i>
        </button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div id="modal-map-container" data-tap-disabled="true">
            <div>
                <ion-item class="item item-icon-left item-icon-right menu-main" ng-class="{active: isGroupTrackShown()}">
                    <i class="icon ic_real-time-info"></i>
                    <b>{{trackingInfo.time}}</b>
                    <!-- <i class="icon" ng-if="trackingMultimodal()" ng-class="isGroupTrackShown() ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i> -->
                </ion-item>
                <!-- <div class="group-track" ng-show="isGroupTrackShown()" ng-if="trackingMultimodal()">
                    <div class="progress-bar-track">
                        <i class="icon ic_foot" ng-class="{'actual-track':actualTracking('walk')}"></i>
                        <div class="container-stat" ng-class="{'actual-container-stat':actualTracking('walk')}">
                            <div class="progress-bar-mean" ng-class="{'actual-track-bar':actualTracking('walk')}" style="width: {{progressPercent.walk}}%;"></div>
                        </div>
                    </div>
                    <div class="progress-bar-track">
                        <i class="icon ic_bike" ng-class="{'actual-track':actualTracking('bike')}"></i>
                        <div class="container-stat" ng-class="{'actual-container-stat':actualTracking('bike')}">
                            <div class="progress-bar-mean" ng-class="{'actual-track-bar':actualTracking('bike')}" style="width: {{progressPercent.bike}}%;"></div>
                        </div>
                    </div>
                    <div class="progress-bar-track">
                        <i class="icon ic_urban-bus" ng-class="{'actual-track':actualTracking('bus')}"></i>
                        <div class="container-stat" ng-class="{'actual-container-stat':actualTracking('bus')}">
                            <div class="progress-bar-mean" ng-class="{'actual-track-bar':actualTracking('bus')}" style="width: {{progressPercent.bus}}%;"></div>
                        </div>
                    </div>
                    <div class="progress-bar-track">
                        <i class="icon ic_train" ng-class="{'actual-track':actualTracking('train')}"></i>
                        <div class="container-stat" ng-class="{'actual-container-stat':actualTracking('train')}">
                            <div class="progress-bar-mean" ng-class="{'actual-track-bar':actualTracking('train')}" style="width: {{progressPercent.train}}%;"></div>
                        </div>
                    </div>
                </div> -->
            </div>
            <leaflet event-broadcast="events" center="center" markers="markers" paths="pathLine" style="width: 100%; height: 700px;"
                ng-init="initMap()" id="trackingMap"></leaflet>
            <div class="center-on-me" ng-click="centerOnMe()" ng-class="{'center-expanded': isGroupTrackShown() && trackingMultimodal()}">
                <button class="button button-map icon ion-android-locate"></button>
            </div>
            <div class="modes-buttons" ng-if="trackingMultimodal()">
                <button class="button button-map icon ic_foot" ng-class="{'actual-track':actualTracking('walk')}" ng-click="changeTracking('walk')"></button>
                <button class="button button-map icon ic_bike" ng-class="{'actual-track':actualTracking('bike')}" ng-click="changeTracking('bike')"></button>
                <button class="button button-map icon ic_urban-bus" ng-class="{'actual-track':actualTracking('bus')}" ng-click="changeTracking('bus')"></button>
                <button class="button button-map icon ic_train" ng-class="{'actual-track':actualTracking('train')}" ng-click="changeTracking('train')"></button>
            </div>
            <button class="button button-stop-map" ng-click="stopTracking()">STOP</button>

        </div>
    </ion-content>
</ion-view>