<ion-view title="{{'home_gamification' | translate}} {{currentUser.nickName}}">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goHome()">
            <i class="ion-android-arrow-back" style="font-size:30px;"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="openRules()" class="button icon button-icon button-clear ion-information-circled"></button>
    </ion-nav-buttons>

    <ion-content class="padding-right padding-left game-points">
        <!--<div class="game-mypoints">
			<img class="game-badge" src="http://placehold.it/150x150" />
			<div class="description">
				<h1 class="title">1234</h1>
				<h4 class="subtitle">Punti Green Leaves</h4>
			</div>
		</div>-->
        <div ng-if="!!status">
            <a class="item item-avatar" href="#">
                <!-- <img ng-if="!profileImg" src="img/game/generic_user.png"> -->
                <!-- <img id="photo"> -->
                <img ng-if="profileImg" ng-src="{{profileImg}}" ng-click="changeProfile()">
                <h1>{{'user_level_label'|translate}}:{{status.playerData.level}}</h1>
            </a>
            <input type="file" style="display: none" name="file" id="inputImg" onchange="angular.element(this).scope().uploadFile(this.files)"/>

            <p></p>
            <div class="row game-mypoints">
                <div class="col col-33 col-center">
                    <img class="game-badge" src="img/game/greenleaves.png" />
                </div>
                <div class="col col-67 col-center">
                    <div class="description">
                        <h1 class="points">{{status['pointConcept'][0]['score']}}</h1>
                        <h5 class="label">{{'green_leaves_points' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div ng-repeat="badgeType in badgeTypes" ng-if="badges[badgeType].length > 0">
                <!--badgeEarned-->
                <h4 class="title">{{badgeType | translate}}</h4>
                <ul class="badges">
                    <li ng-repeat="badge in badges[badgeType]">
                        <img class="game-badge-s" ng-src="{{badge.url}}" />
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="!status">
            <h4 class="label">{{'no_status' | translate}}</h4>
        </div>
    </ion-content>
</ion-view>