<ion-view title="{{'home_gamification' | translate}} {{currentUser.nickName}}">
    <ion-nav-buttons side="right">
        <button ng-click="openRules()" class="button icon button-icon button-home ion-information-circled"></button>
    </ion-nav-buttons>

    <ion-content class="padding-right padding-left game-points">
        <!--<div class="game-mypoints">
			<img class="game-badge" src="http://placehold.it/150x150" />
			<div class="description">
				<h1 class="title">1234</h1>
				<h4 class="subtitle">Punti Green Leaves</h4>
			</div>
		</div>-->
        <div ng-if="!!status">
            <div class="row game-mypoints">
                <div class="col col-33 col-center">
                    <img class="game-badge" src="img/game/greenleaves.png" />
                </div>
                <div class="col col-67 col-center">
                    <div class="description">
                        <h1 class="points">{{status['pointConcept'][0]['score']}}</h1>
                        <h5 class="label">{{'green_leaves_points' | translate}}</h5>
                    </div>
                </div>
            </div>

            <div ng-repeat="badgeType in badgeTypes" ng-if="badges[badgeType].length > 0">
                <!--badgeEarned-->
                <h4 class="title">{{badgeType | translate}}</h4>
                <ul class="badges">
                    <li ng-repeat="badge in badges[badgeType]">
                        <img class="game-badge-s" ng-src="{{badge.url}}" />
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="!status">
            <h4 class="label">{{'no_status' | translate}}</h4>
        </div>
    </ion-content>
</ion-view>
