<ion-view title="{{user.nickname}}">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goBackView()">
            <i class="ion-android-arrow-back" style="font-size:30px;"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="game-ranking" has-bouncing="false" scroll="false" ng-class="{'margin-for-trackingbar-tab':buttonMapNeed()}">
            <div class="filter item-accordion" ng-if="!!filter.options">
                <ion-item class="item-accordion-header item-icon-right" ng-click="filter.toggle()">
                    <div ng-if="!filter.open">{{!!filter.selected ? ('game_tab_statistics_filter_' + filter.selected) : '' | translate}}</div>
                    <i class="icon ion-arrow-down-b" ng-class="{'open': filter.open}"></i>
                </ion-item>
                <div class="item-accordion-content" ng-show="filter.open">
                    <ion-list>
                        <ion-item ng-repeat="option in filter.options" ng-click="filter.filterBy(option)">
                            <div ng-class="{ 'becomeblue' : filter.selected!=option}">{{'game_tab_statistics_filter_' + option | translate}}</div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
    
            <div ng-if="!!user && !singleRankStatus && !noStats">
                <ion-scroll class="ranking" ng-style="profileStyle" delegate-handle="statisticScroll">
                    <ion-list>
                        <div class="chart" >
                            <H5 class="H5stats">{{getTitle(day)}}</H5>
                            <div ng-if="stats[filter.selected].walk>0" class="walkbgcolor statsfloat" ng-style="{{getStyle(stats[filter.selected].walk, 'walk')}}">
                                <i class="icon ic_foot"></i>
                            </div>
                            <div ng-if="stats[filter.selected].walk>0" class="statstext" id="walkcolor"> {{(stats[filter.selected].walk/1000) | number:1}} km </div>
                            <div id="statsdiv"></div>
                            <div ng-if="(stats[filter.selected].transit+stats[filter.selected].bus+stats[filter.selected].train)>0" class="publicbgcolor statsfloat" ng-style="{{getStyle((stats[filter.selected].transit+stats[filter.selected].bus+stats[filter.selected].train), 'transit')}}">
                                <i class="icon ic_urban-bus"></i>
                                <i class="icon ic_train"></i>
                            </div>
                            <div ng-if="(stats[filter.selected].transit+stats[filter.selected].bus+stats[filter.selected].train)>0" class="statstext" id="publiccolor"> {{((stats[filter.selected].transit+stats[filter.selected].bus+stats[filter.selected].train)/1000) | number:1}} km </div>
                            <div id="statsdiv"></div>
                            <div ng-if="stats[filter.selected].bike>0" class="bikebgcolor statsfloat" ng-style="{{getStyle(stats[filter.selected].bike, 'bike')}}">
                                <i class="icon ic_bike"></i>
                            </div>
                            <div ng-if="stats[filter.selected].bike>0" class="statstext" id="bikecolor"> {{(stats[filter.selected].bike/1000) | number:1}} km </div>
                            <div id="statsdiv"></div>
                            <div ng-if="stats[filter.selected].car>0" class="carbgcolor statsfloat" ng-style="{{getStyle(stats[filter.selected].car, 'car')}}">
                                <i class="icon ic_car"></i>
                            </div>
                            <div ng-if="stats[filter.selected].car>0" class="statstext" id="carcolor"> {{(stats[filter.selected].car/1000) | number:1}} km </div>
                            <div id="statsdiv"></div>
                        </div>
                    </ion-list>
                </ion-scroll>
            </div>
            <div ng-if="noStats">
                <h4 class="label">{{'no_stats' | translate}}</h4>
            </div>
            <div ng-if="status && singleRankStatus">
                <h4 class="label">{{'pop_up_error_server_template' | translate}}</h4>
            </div>
            <div ng-if="stats == null ">
                <h4>{{'no_statistics' | translate}}</h4>
            </div>
        </ion-content>
</ion-view>