<ion-tabs class="tabs-icon-top">
    <ion-tab icon-on="ic_score" icon-off="ic_score" ui-sref="app.profile.points">
        <ion-nav-view name="tab-points"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ic_game_statistic" icon-off="ic_game_statistic" ui-sref="app.profile.statistics">
        <ion-nav-view name="tab-statistics"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ic_blacklist_on" icon-off="ic_blacklist_on" ui-sref="app.profile.blacklist">
        <ion-nav-view name="tab-blacklist"></ion-nav-view>
    </ion-tab>
</ion-tabs>