<ion-view title="{{user.nickname}}">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goBackView()">
            <i class="ion-android-arrow-back" style="font-size:30px;"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="game-challenges" has-bouncing="false" scroll="false" ng-class="{'margin-for-trackingbar-tab':buttonMapNeed()}">
            <!-- Results -->
            <ion-scroll class="padding-right padding-left challenges" ng-style="challengesStyle" delegate-handle="challengesScroll" ng-if="challenges != null && challenges.length > 0">
                <ion-list>
                    <ion-item class="challenge" ng-click="showChallengeInfo(challenge)" ng-repeat="challenge in challenges" ng-class="{'challenge-old': !challenge.active || challenge.success, success: !!challenge.success, fail: !challenge.success}">
                        <div class="challenge-desc">{{challenge.challDesc}}</div>
                        <div class="challenge-countdown" ng-if="!!challenge.active" ng-init="days = {days: challenge.daysToEnd}">
                            {{'game_tab_challenges_daysToEnd' + (challenge.daysToEnd == 1 ? '_1' : '') | translate:days}}
                        </div>
                        <div class="challenge-result" ng-if="!challenge.active || challenge.success">
                            {{'game_tab_challenge_success_' + challenge.success | translate}}
                        </div>
                        <div class="challenge-status">
                            <span class="challenge-count">
                                {{'game_tab_challenges_status' + (!challenge.active || challenge.success ? '_final' : '') | translate}}: {{!!challenge.success
                                ? challenge.challTarget : challenge.row_status}}/{{challenge.challTarget}}
                            </span>
                        </div>
                        <a class="challenge-info">
                            <i class="icon ion-information-circled"></i>
                        </a>
                    </ion-item>
                </ion-list>
            </ion-scroll>
    
            <div ng-if="challenges != null && challenges.length == 0" class="text-center padding">
                <h4>{{'no_challenges' | translate}}</h4>
            </div>
            <div class="padding-right padding-left game-points" ng-if="!challenges">
                <h4 class="label">{{'no_status' | translate}}</h4>
            </div>
        </ion-content>
</ion-view>