<ion-tabs class="tabs-icon-top">
    <ion-tab icon-on="ion-leaf" icon-off="ion-leaf" ui-sref="app.profile.points">
        <ion-nav-view name="tab-points"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ion-ios-settings-strong" icon-off="ion-ios-settings-strong" ui-sref="app.profile.statistics">
        <ion-nav-view name="tab-statistics"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ion-sad-outline" icon-off="ion-sad-outline" ui-sref="app.profile.blacklist">
        <ion-nav-view name="tab-blacklist"></ion-nav-view>
    </ion-tab>

</ion-tabs>