<ion-tabs class="tabs-icon-top">
    <ion-tab icon-on="ic_score" icon-off="ic_score" ui-sref="app.profileOthers.points">
        <ion-nav-view name="tab-other-points"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-on="ic_game_statistic" icon-off="ic_game_statistic" ui-sref="app.profileOthers.statistics">
        <ion-nav-view name="tab-other-stat"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ic_game_challenge" icon-off="ic_game_challenge" ui-sref="app.profileOthers.challenges">
        <ion-nav-view name="tab-other-challenges"></ion-nav-view>
    </ion-tab>
</ion-tabs>