<ion-view title="{{user.nickname}}">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goBackView()">
            <i class="ion-android-arrow-back" style="font-size:30px;"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-if="blacklisted" class="button button-clear" ng-click="removeFromBlacklist()">
            <i class="ic_blacklist_off"></i>
        </button>
        <button ng-if="!blacklisted" class="button button-clear" ng-click="addToBlacklist()">
            <i class="ic_blacklist_on"></i>
        </button>
    </ion-nav-buttons>
    <ion-tabs id="profileTabs" class="tabs-icon-top">
        <ion-tab icon-on="ic_score" icon-off="ic_score">
            <ion-content class="padding-right padding-left game-points tab-others" ng-class="{'margin-for-trackingbar-tab':buttonMapNeed()}">
                <div ng-if="!!user">
                    <p></p>
                    <div class="user-state card no-shadow">
                        <div class="row">
                            <div class="col">
                                <img class="profile-image-round" ng-if="profileImg" ng-src="{{getUserImgBig(profileId)}}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="profile-level">
                                <img class="no-shadow" src="img/ic_level.png">
                                <h4>{{user.level}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="profile-level">
                                <i class="icon ion-leaf"></i>
                                <h4>
                                    {{user.greenLeaves}} {{'green_leaves_points'|translate}}
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="badge-container">

                        <div ng-repeat="badgeType in badgeTypes" ng-if="badges[badgeType].length > 0">
                            <!-- badgeEarned -->
                            <h4 class="title">{{badgeType | translate}}</h4>
                            <ul class="badges">
                                <li ng-repeat="badge in badges[badgeType]">
                                    <img class="game-badge-s" ng-src="{{badge.url}}" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="user['badgeCollectionConcept'].length==0">
                        <h4 class="label">{{'no_badges' | translate}}</h4>
                    </div>
                </div>
                <div ng-if="!user">
                    <h4 class="label">{{'no_status' | translate}}</h4>
                </div>
            </ion-content>
        </ion-tab>

        <ion-tab icon-on="ic_game_statistic" icon-off="ic_game_statistic">
            <ion-content class="game-ranking tab-others" has-bouncing="false" scroll="false" ng-class="{'margin-for-trackingbar-tab':buttonMapNeed()}">
                <div class="filter item-accordion" ng-if="!!filter.options">
                    <ion-item class="item-accordion-header item-icon-right" ng-click="filter.toggle()">
                        <div ng-if="!filter.open">{{!!filter.selected ? ('game_tab_statistics_filter_' +
                            filter.selected) : '' | translate}}</div>
                        <i class="icon ion-arrow-down-b" ng-class="{'open': filter.open}"></i>
                    </ion-item>
                    <div class="item-accordion-content" ng-show="filter.open">
                        <ion-list>
                            <ion-item ng-repeat="option in filter.options" ng-click="filter.filterBy(option)">
                                <div ng-class="{ 'becomeblue' : filter.selected!=option}">{{'game_tab_statistics_filter_'
                                    + option | translate}}</div>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
                <div ng-if="!!user && !singleRankStatus && stats[filter.selected]">
                    <ion-scroll class="ranking" ng-style="profileStyle" delegate-handle="statisticScroll">
                        <ion-list>
                            <div class="chart">
                                <H5 class="H5stats">{{getTitle(day)}}</H5>
                                <div ng-if="stats[filter.selected].walk>0" class="walkbgcolor statsfloat" ng-style="{{getStyle(stats[filter.selected].walk, 'walk')}}">
                                    <i class="icon ic_foot"></i>
                                </div>
                                <div ng-if="stats[filter.selected].walk>0" class="statstext" id="walkcolor">
                                    {{(stats[filter.selected].walk/1000) | number:1}} km </div>
                                <div id="statsdiv"></div>
                                <div ng-if="(stats[filter.selected].transit+stats[filter.selected].bus+stats[filter.selected].train)>0"
                                    class="publicbgcolor statsfloat" ng-style="{{getStyle((stats[filter.selected].transit+stats[filter.selected].bus+stats[filter.selected].train), 'transit')}}">
                                    <i class="icon ic_urban-bus"></i>
                                    <i class="icon ic_train"></i>
                                </div>
                                <div ng-if="(stats[filter.selected].transit+stats[filter.selected].bus+stats[filter.selected].train)>0"
                                    class="statstext" id="publiccolor">
                                    {{((stats[filter.selected].transit+stats[filter.selected].bus+stats[filter.selected].train)/1000)
                                    | number:1}} km </div>
                                <div id="statsdiv"></div>
                                <div ng-if="stats[filter.selected].bike>0" class="bikebgcolor statsfloat" ng-style="{{getStyle(stats[filter.selected].bike, 'bike')}}">
                                    <i class="icon ic_bike"></i>
                                </div>
                                <div ng-if="stats[filter.selected].bike>0" class="statstext" id="bikecolor">
                                    {{(stats[filter.selected].bike/1000) | number:1}} km </div>
                                <div id="statsdiv"></div>
                                <div ng-if="stats[filter.selected].car>0" class="carbgcolor statsfloat" ng-style="{{getStyle(stats[filter.selected].car, 'car')}}">
                                    <i class="icon ic_car"></i>
                                </div>
                                <div ng-if="stats[filter.selected].car>0" class="statstext" id="carcolor">
                                    {{(stats[filter.selected].car/1000) | number:1}} km </div>
                                <div id="statsdiv"></div>
                            </div>
                        </ion-list>
                    </ion-scroll>
                </div>
                <div ng-if="!stats[filter.selected]">
                    <h4 class="label">{{'no_stats' | translate}}</h4>
                </div>
                <div ng-if="status && singleRankStatus">
                    <h4 class="label">{{'pop_up_error_server_template' | translate}}</h4>
                </div>
                <div ng-if="stats == null ">
                    <h4>{{'no_statistics' | translate}}</h4>
                </div>
            </ion-content>
            <!-- </ion-view>   -->
        </ion-tab>
        <ion-tab icon-on="ic_game_challenge" icon-off="ic_game_challenge">
            <ion-content class="game-challenges tab-others" has-bouncing="false" scroll="false" ng-class="{'margin-for-trackingbar-tab':buttonMapNeed()}">
                <!-- Results -->
                <ion-scroll class="padding-right padding-left challenges" ng-style="challengesStyle" delegate-handle="challengesScroll"
                    ng-if="challenges != null && challenges.length > 0">
                    <ion-list>
                        <ion-item class="challenge" ng-repeat="challenge in challenges" style="{{getBorderColor(challenge)}}">
                            <div class="row">
                                <div class="col col-80">
                                    <div>{{challenge.date | date :'dd/MM/yy'}}
                                    </div>
                                    <div>{{challenge.text}}
                                    </div>
                                    <!-- <div class="challenge-string-result">
                                        <p ng-if="challenge.success"> {{'you_win'| translate}} {{challenge.dataFinished| date:'dd-mm-yy'}}{{'at_clock'|
                                            translate}} {{challenge.dataFinished| date:'HH:mm'}}</p>
                                        <p ng-if="!challenge.success">{{'you_lose'| translate}}
                                            <span ng-if="challenge.nicknameOpponent">{{challenge.nicknameOpponent}}</span>{{'at_day'| translate}} {{challenge.dataFinished|
                                            date:'dd-mm-yy'}}{{'at_clock'| translate}} {{challenge.dataFinished| date:'HH:mm'}}</p>
                                    </div> -->
                                </div>
                                <div class="col col-20">
                                    <!-- coppa  -->
                                    <p>
                                        <a class="icon ic_game_challenge challenge-win" style="{{getColorCup(challenge)}}"></a>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <ng-include src="getChallengeBarTemplate(challenge)" style="width: 100%"></ng-include>
                            </div>
                        </ion-item>
                        <!-- <ion-item class="challenge" ng-click="showChallengeInfo(challenge)" ng-repeat="challenge in challenges" ng-class="{'challenge-old': !challenge.active || challenge.success, success: !!challenge.success, fail: !challenge.success}">
                            <div class="challenge-desc">{{challenge.challDesc}}</div>
                            <div class="challenge-countdown" ng-if="!!challenge.active" ng-init="days = {days: challenge.daysToEnd}">
                                {{'game_tab_challenges_daysToEnd' + (challenge.daysToEnd == 1 ? '_1' : '') | translate:days}}
                            </div>
                            <div class="challenge-result" ng-if="!challenge.active || challenge.success">
                                {{'game_tab_challenge_success_' + challenge.success | translate}}
                            </div>
                            <div class="challenge-status">
                                <span class="challenge-count">
                                    {{'game_tab_challenges_status' + (!challenge.active || challenge.success ? '_final' : '') | translate}}: {{!!challenge.success
                                    ? challenge.challTarget : challenge.row_status}}/{{challenge.challTarget}}
                                </span>
                            </div>
                            <a class="challenge-info">
                                <i class="icon ion-information-circled"></i>
                            </a>
                        </ion-item> -->
                    </ion-list>
                </ion-scroll>

                <div ng-if="challenges != null && challenges.length == 0" class="text-center padding">
                    <h4>{{'no_challenges' | translate}}</h4>
                </div>
                <div class="padding-right padding-left game-points" ng-if="!challenges">
                    <h4 class="label">{{'no_status' | translate}}</h4>
                </div>
            </ion-content>
            <!-- </ion-view>  -->
        </ion-tab>
    </ion-tabs>
</ion-view>