<ion-tabs class="tabs-icon-top">
    <ion-tab icon-on="ion-leaf" icon-off="ion-leaf" ui-sref="app.profileOthers.points">
        <ion-nav-view name="tab-other-points"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-on="ion-ios-settings-strong" icon-off="ion-ios-settings-strong" ui-sref="app.profileOthers.statistics">
        <ion-nav-view name="tab-other-stat"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ic_game_challenge" icon-off="ic_game_challenge" ui-sref="app.profileOthers.challenges">
        <ion-nav-view name="tab-other-challenges"></ion-nav-view>
    </ion-tab>
</ion-tabs>