<ion-view title="{{'home_gamification' | translate}} {{currentUser.nickName}}">
    <ion-nav-buttons side="right">
        <button ng-click="openRules()" class="button button-icon button-home ion-information-circled"></button>
    </ion-nav-buttons>

    <ion-content class="game-ranking" has-bouncing="false" scroll="false">
        <!-- Filter -->
        <div class="filter item-accordion" ng-if="!!filter.options">
            <ion-item class="item-accordion-header item-icon-right" ng-click="filter.toggle()">
                <div>{{!!filter.selected ? ('game_tab_ranking_filter_' + filter.selected) : '' | translate}}</div>
                <i class="icon ion-arrow-down-b" ng-class="{'open': filter.open}"></i>
            </ion-item>
            <div class="item-accordion-content" ng-show="filter.open">
                <ion-list>
                    <ion-item ng-repeat="option in filter.options" ng-click="filter.filterBy(option)">
                        {{'game_tab_ranking_filter_' + option | translate}}
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div ng-if="!!status && singleRankStatus">
            <div class="listheader" ng-class="{hasprize: (filter.selected === 'now' && !!prize)}">
                <div class="prize" ng-if="filter.selected === 'now' && !!prize">
                    <div>{{'game_tab_ranking_listheader_price' | translate}}</div>
                    <div>Lorem ipsum sic dolor amet</div>
                </div>
                <div class="row">
                    <div class="col col-25">{{'game_tab_ranking_listheader_position' | translate}}</div>
                    <div class="col col-50">{{'game_tab_ranking_listheader_player' | translate}}</div>
                    <div class="col col-25">{{'game_tab_ranking_listheader_points' | translate}}</div>
                </div>
            </div>
            <div class="my-ranking">
                <div class="row">
                    <div class="col col-25">{{currentUser.position}}</div>
                    <div class="col col-50">{{currentUser.nickName}}</div>
                    <div class="col col-25">{{currentUser.score}}</div>
                </div>
            </div>

            <ion-scroll class="ranking" ng-style="rankingStyle" delegate-handle="rankingScroll">
                <ion-list>
                    <div ng-repeat="rankingUser in ranking" ng-class="{'pos-even': ($index % 2 == 0)}">
                        <div class="row" id="position-{{$index}}">
                            <div class="col col-25">{{rankingUser.position}}</div>
                            <div class="col col-50">{{rankingUser.nickName}}</div>
                            <div class="col col-25">{{rankingUser.score}}</div>
                        </div>
                    </div>
                </ion-list>
                <ion-infinite-scroll ng-if="maybeMore" on-infinite="loadMore()"></ion-infinite-scroll>
            </ion-scroll>
        </div>
        <div ng-if="!status">
            <h4 class="label">{{'no_status' | translate}}</h4>
        </div>
        <div ng-if="status && !singleRankStatus">
            <h4 class="label">{{'pop_up_error_server_template' | translate}}</h4>

            <button ng-click="loadMore()" class="button button-viaggia reload-rank">{{'ranking_reload' | translate}}</button>
        </div>
    </ion-content>
</ion-view>
