<h4>Welcome to Trento e Rovereto Play&Go!</h4>
<div align="justify">
  Track your trips with <b>Viaggia Play&amp;Go</b> and choose sustainable mobility solutions to
  earn points and advance in the game. Have fun collecting points, badges and test yourself
  with the weekly challenge. Keep an eye on leader boards: every week you can win prizes and,
  while having fun, you can contribute making your city more sustainable and smart!
</div>
<br/>
<h4>How do I play?</h4>
<div align="justify">
  Plan your trips with Viaggia Play&Go (<b>"Plan journey"</b> in the home), and track your journey
when you start the trip (<b>"Start"</b> and <b>"Stop journey"</b>). If you are using your bike, walking, bus or
train you can directly track your routes without planning (<b>"Walk"</b>, <b>"Bike"</b>, <b>“Bus”</b>, or <b>“Train“</b> in the
home). Tracked journeys allow you to earn Green Leaves points in proportion to the km made
through sustainable transport (on foot, by bike / bike sharing, public transport or park&amp;ride
facilities). Taken trips must be within Trento or Rovereto area. There are <b>daily limits</b> to
trips/Km performed with the various modes.
</div>
<div align="left">
    You can win bonus points in Green Leaves:
    <br>
    <ul class="list-welcome">
        <li>Choosing zero emissions journeys, i.e., exclusively by bike or on foot; </li>
        <li>Succeeding in your weekly challenges;</li>
        <li>Inviting your friends to register to the game: your friend, at registration time, needs to provide your player nickname.</li>
    </ul>
</div>
<br/>
<h4>Prizes and incentives</h4>
<div align="justify">
  During the game you can win weekly and final prizes that reward the top players in the Green Leaves leader boards (weekly and general, respectively).
  <br/>The game is available through App iPhone, but Apple is not sponsoring in any way this game and does not offer prizes.
</div>
<div id="firstSeparator"></div>
<div>At the following link you can download the complete rules of the game: <a href="" ng-click="openExtLink('https://tn.smartcommunitylab.it/gamificationweb/pdf/regolamento.pdf')">Trento e Rovereto Play&amp;Go regulation.</a></div>
