<h4>Benvenuto nel Gioco Trento e Rovereto Play&amp;Go!</h4>
<div align="justify">
    Partecipare è semplice: traccia i tuoi viaggi con <b>Viaggia Play&amp;Go</b> e scegli delle soluzioni di
    mobilità sostenibile per guadagnare punti e avanzare nel gioco. Divertiti a collezionare punti,
    badge e mettiti alla prova con le challenge settimanali. Sfida i tuoi amici a scalare le
    classifiche: ogni settimana puoi vincere ricchi premi e contribuire, divertendoti, a rendere la tua
    città più sostenibile e smart!
</div>
<br />
<h4>Come si gioca?</h4>
<div align="justify">
    Puoi tracciare direttamente i tuoi percorsi dalla home cliccando sulle icone <b>“A piedi”</b>,
    <b>“In bici“</b>, <b>“Autobus“</b>,<b>“Treno“</b>. Puoi inoltre pianificare, salvare e tracciare i
    tuoi spostamenti multi modali abituali nella sezione “Mobilità”. Ogni viaggio ti permette di guadagnare
    punti Green Leaves in proporzione ai km fatti con mezzi sostenibili (a piedi, in bici/bike sharing,
    con i mezzi pubblici o i parcheggi di attestamento). I viaggi validi ai fini del gioco devono essere
    effettuati in Trentino. Sono stati inoltre introdotti dei limiti giornalieri per i Km / viaggi
    effettuati con i diversi mezzi di trasporto (10 Km a piedi, 30 Km in bici/bike-sharing, 8 viaggi con i
    mezzi pubblici, 4 viaggi in funivia).
    <div align="left">
        Puoi vincere dei bonus in punti Green Leaves:
        <br>
        <ul class="list-welcome">
            <li> Scegliendo dei viaggi ad impatto zero, cioè esclusivamente in bici o a piedi; </li>
            <li> Superando le tue sfide settimanali, quando ti vengono proposte;</li>
            <li> Invitando i tuoi amici a registrarsi al gioco: è sufficiente che il tuo amico, in fase di
                registrazione, indichi il tuo nickname giocatore e sia attivo nel gioco.</li>
        </ul>
    </div>
</div>
<br />
<h4>Incentivi e premi</h4>
<div align="justify">
    Durante il gioco sono previsti <strong>premi settimanali e finali</strong> che andranno a premiare i primi
    classificati nella classifica (settimanale e generale, rispettivamente) a punti Green Leaves.
    <br /> Il gioco &egrave; accessibile tramite App iPhone, tuttavia Apple non sponsorizza in alcun modo questo gioco
    e non offre premi.
</div>
<div id="firstSeparator"></div>
<div>Al seguente link puoi scaricare il regolamento completo del gioco: <a href="" ng-click="openExtLink('https://dev.smartcommunitylab.it/core.mobility/pdf/regolamento_playgo_2018.pdf')">regolamento
        Viaggia Play&amp;Go.</a></div>
<br />
<h4>
    UTILIZZO DEI DATI E PRIVACY
</h4>
<div align="justify">
    Al fine di permettere lo svolgimento del gioco si rendono necessari la raccolta ed il trattamento delle
    informazioni
    relative ai viaggi pianificati e salvati, al tracciato dei viaggi effettuati tramite app, ai risultati del gioco. I
    dati personali del giocatore verranno trattati nel pieno rispetto della vigente normativa sulla privacy, come
    specificato nel documento <a href="" ng-click="openExtLink('https://dev.smartcommunitylab.it/core.mobility/pdf/privacy_2018.pdf')">“Informativa
        trattamento dati e privacy gioco Trento e Rovereto Play&amp;Go”</a>.
</div>