<h4>Benvenuto nel Gioco Trento e Rovereto Play&amp;Go!</h4>
<div align="justify">
Partecipare è semplice: traccia i tuoi viaggi con <b>Viaggia Play&amp;Go</b> e scegli delle soluzioni di
mobilità sostenibile per guadagnare punti e avanzare nel gioco. Divertiti a collezionare punti,
badge e mettiti alla prova con le challenge settimanali. Sfida i tuoi amici a scalare le
classifiche: ogni settimana puoi vincere ricchi premi e contribuire, divertendoti, a rendere la tua
città più sostenibile e smart!
</div>
<br/>
<h4>Come si gioca?</h4>
<div align="justify">
  Pianifica i tuoi viaggi con Viaggia Play&amp;Go (<b>“Pianifica viaggio”</b> nella home) e traccia il
tuo percorso quando esegui il viaggio (<b>“Inizia”</b> e <b>“Termina Viaggio”</b>). Per i viaggi a piedi, in
bici, bus e treno puoi tracciare direttamente i tuoi percorsi senza pianificare (<b>“A piedi”</b> e <b>“In
bici“</b>, <b>“Autobus“</b>, <b>“Treno“</b> nella home). Ogni viaggio ti permette di guadagnare punti Green
Leaves in proporzione ai km fatti con mezzi sostenibili (a piedi, in bici/bike sharing, con i
mezzi pubblici o i parcheggi di attestamento). I viaggi validi ai fini del gioco devono essere
effettuati nel Comune di Trento o di Rovereto. Sono stati inoltre introdotti dei limiti giornalieri
per i Km / viaggi effettuati con i diversi mezzi di trasporto.
</div>
<div align="left">
    Puoi vincere dei bonus in punti Green Leaves:
    <br>
    <ul class="list-welcome">
        <li>Scegliendo dei viaggi ad emissioni zero di CO2, cioè esclusivamente in bici o a piedi; </li>
        <li>Superando le tue sfide settimanali, quando ti vengono proposte;</li>
        <li>Invitando i tuoi amici a registrarsi al gioco: è sufficiente che il tuo amico, in fase di
          registrazione, indichi il tuo nickname Giocatore.</li>
    </ul>
</div>
<br/>
<h4>Incentivi e premi</h4>
<div align="justify">
    Durante il gioco sono previsti <strong>premi settimanali e finali</strong> che andranno a premiare i primi classificati nella classifica (settimanale e generale, rispettivamente) a punti Green Leaves.
    <br/> Il gioco &egrave; accessibile tramite App iPhone, tuttavia Apple non sponsorizza in alcun modo questo gioco e non offre premi.
</div>
<div id="firstSeparator"></div>
<div>Al seguente link puoi scaricare il regolamento completo del gioco: <a href="" ng-click="openExtLink('https://tn.smartcommunitylab.it/core.mobility/pdf/regolamento_playgo_2017.pdf')">regolamento Viaggia Play&amp;Go.</a></div>
