<h4>Welcome to Trento e Rovereto Play&Go!</h4>
<div align="justify">
  It’s easy to participate: track your trips with<b>Viaggia Play&amp;Go</b> and choose sustainable mobility solutions
  to earn points and advance in the game. Have fun collecting points, badges and test yourself with the weekly
  challenges. Keep an eye on leaderboards: every week you can win prizes and, while having fun, you can contribute
  making your city more sustainable and smart!

</div>
<br />
<h4>How do I play?</h4>
<div align="justify">
  You can track your routes directly in the Home clicking the icons <b>"Walk"</b>, <b>"Bike"</b>, <b>“Bus”</b>, or <b>“Train“</b>You
  can also plan, save and track your frequent multimodal trips in the <b>Mobility section</b>. Tracked journeys allow
  you to
  earn <b>Green Leaves</b> points in proportion to the km made through sustainable transport (on foot, by bike/bike
  sharing,
  public transport or park&amp;ride facilities). Taken trips must be within Trentino area. There are <b>daily limits</b>
  to
  trips/Km performed with the various modes (10 Km by walk, 30 Km by bike/bike-sharing, 8 trips with public transport,
  4 trips with cableway).

</div>
<div align="left">
  You can win bonus points in Green Leaves:
  <br>
  <ul class="list-welcome">
    <li>Choosing zero emissions journeys, i.e., exclusively by bike or on foot;</li>
    <li>Succeeding in your weekly challenges;</li>
    <li>Inviting your friends to register to the game: your friend, at registration time, needs to provide your player
      nickname and must be an active player.
    </li>
  </ul>
</div>
<br />
<h4>Prizes and incentives</h4>
<div align="justify">
  During the game you can win <b>weekly and final prizes</b> that reward the top players in the Green Leaves leader
  boards
  (weekly and general, respectively).
  <br />The game is available through App iPhone, but Apple is not sponsoring in any way this game and does not offer
  prizes.
</div>
<div id="firstSeparator"></div>
<div>At the following link you can download the complete rules of the game: <a href="" ng-click="openExtLink('https://tn.smartcommunitylab.it/core.mobility/pdf/regolamento_playgo_2018.pdf')">Viaggia
    Play&amp;Go regulation.</a></div>
  <br />
<h4>Data protection and privacy</h4>
<div align="justify">
  In order to allow the game to take place, it is necessary to collect and process the information relating to planned
  and saved journeys, to the route of the trips made via the app, to the results of the game. The personal data of the
  player will be treated in full compliance with the current data protection and privacy legislation, as specified in
  the document <a href="" ng-click="openExtLink('https://tn.smartcommunitylab.it/core.mobility/pdf/privacy_2018.pdf')">Data
    processing and privacy Trento and Rovereto Play&amp;Go game</a>
</div>