<ion-view>
    <ion-nav-title>
        {{'statistics_title' | translate}}
    </ion-nav-title>
    <ion-content class="game-ranking" has-bouncing="false" scroll="false">
        <div class="filter item-accordion" ng-if="!!filter.options">
            <ion-item class="item-accordion-header item-icon-right" ng-click="filter.toggle()">
                <div ng-if="!filter.open">{{!!filter.selected ? ('game_tab_statistics_filter_' + filter.selected) : '' | translate}}</div>
                <i class="icon ion-arrow-down-b" ng-class="{'open': filter.open}"></i>
            </ion-item>
            <div class="item-accordion-content" ng-show="filter.open">
                <ion-list>
                    <ion-item ng-repeat="option in filter.options" ng-click="filter.filterBy(option)">
                        <div ng-class="{ 'becomeblue' : filter.selected==option}">{{'game_tab_statistics_filter_' + option | translate}}</div>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div ng-if="!!status && !singleRankStatus">
        <ion-scroll class="ranking" ng-style="rankingStyle" delegate-handle="statisticScroll">
            <ion-list>
                <div class="chart" ng-repeat="day in stats track by $index">
                    <H5 class="H5stats">{{day.from | date:'EEEE dd/MM'}}</H5>

                    <div ng-if="day.data.walk>0" class="walkbgcolor statsfloat" style="{{getStyle(day.data.walk, 'walk')}}" ><i class="icon ic_foot"></i></div>
                    <div ng-if="day.data.walk>0" class="statstext" id="walkcolor"> {{day.data.walk | number:2}} km </div>
                    <div id="statsdiv"></div>

                    <div ng-if="day.data.transit>0" class="publicbgcolor statsfloat" style="{{getStyle(day.data.transit, 'transit')}}"><i class="icon ic_urban-bus"></i><i class="icon ic_train"></i></div>
                    <div ng-if="day.data.transit>0" class="statstext" id="publiccolor"> {{day.data.transit | number:2}} km </div>
                    <div id="statsdiv"></div>

                    <div ng-if="day.data.bike>0" class="bikebgcolor statsfloat" style="{{getStyle(day.data.bike, 'bike')}}" ><i class="icon ic_bike"></i></div>
                    <div ng-if="day.data.bike>0" class="statstext" id="bikecolor"> {{day.data.bike | number:2}} km </div>
                    <div id="statsdiv"></div>

                    <div ng-if="day.data.car>0" class="carbgcolor statsfloat" style="{{getStyle(day.data.car, 'car')}}"><i class="icon ion-android-car"></i></div>
                    <div ng-if="day.data.car>0" class="statstext" id="carcolor"> {{day.data.car | number:2}} km </div>
                    <div id="statsdiv"></div>

                </div>
                <ion-infinite-scroll ng-if="maybeMore" on-infinite="loadMore()"></ion-infinite-scroll>
            </ion-list>
        </ion-scroll>
        </div>
        <div ng-if="!status">
            <h4 class="label">{{'no_status' | translate}}</h4>
        </div>
        <div ng-if="status && singleRankStatus">
            <h4 class="label">{{'pop_up_error_server_template' | translate}}</h4>
        </div>
        <div ng-if="stats != null ">
            <h4>{{'no_statistics' | translate}}</h4>
        </div>
    </ion-content>
</ion-view>
