<div>
    <!-- <div class="challenge-title">{{'challenge_cooperative'|translate}}</div> -->
    <div class="row">
        <div class="col col-10 icon-chall-home">
            <i class="icon ic_ch_coop"></i>
        </div>
        <div class="col col-80">
            {{challenge.challDesc}}
        </div>
        <div class="col col-10" ng-click="expand($index)">
            <i class="icon" ng-class="isExpanded($index) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
        </div>
    </div>
    <div class="row" ng-if="isExpanded($index)">
        <div class="col col-10">
        </div>
        <div class="col col-90">
            <div compile="challenge.challCompleteDesc"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
        </div>
        <div class="col-80">
            <div class="float-left coop-user-color">{{getValueUser(challenge)}}</div>
            <div class="float-right coop-other-color">{{getValueOther(challenge)}}</div>
        </div>
        <div class="col-10">
        </div>
    </div>
    <div class="row">
        <div class="col col-10 icon-chall-home">
            <img class="challenge-profile-img" ng-if="profileImg" ng-src="{{profileImg}}">
        </div>
        <div class="col col-80 competitive-container">
            <div class="challenge-bar-level coop-user" style="{{getWidthUser(challenge)}}"></div>
            <div class="challenge-bar-level" style="{{getWidthSeparator(challenge)}}"></div>
            <div class="challenge-bar-level coop-other" style="{{getWidthOther(challenge)}}"></div>
        </div>
        <div class="col col-10 icon-chall-home">
            <img class="challenge-profile-img" ng-src="{{getUserImg(challenge.otherAttendeeData.playerId)}}">
        </div>
    </div>
</div>