<div>
    <!-- <div class="challenge-title">{{'challenge_single_player'|translate}}</div> -->
    <div class="row">
        <div class="col col-10 icon-chall-home">
            <i class="icon ic_ch_single"></i>
        </div>
        <div class="col col-80">
            {{challenge.challDesc}}
        </div>
        <div class="col col-10" ng-click="expand($index)">
            <i class="icon" ng-class="isExpanded($index) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
        </div>
    </div>
    <div class="row" ng-if="isExpanded($index)">
        <div class="col">
            {{challenge.challDesc}}
        </div>
    </div>
    <div class="row">
        <div class="col col-10"></div>
        <div class="col col-80 competitive-container">
            <div class="challenge-bar-level" style="width: {{userProgress}}%;"># green leaves to the next level</div>
        </div>
        <div class="col col-10"></div>
    </div>
</div>