<div>
    <div class="row row-center map-stop-title">
        <i class="icon popup-icon ic_advice"></i>
        <div class="col">
            <b class="parking-title"> {{'lbl_betatesting'|translate}}</b>
        </div>
        <!--        bookmark button-->
    </div>
    <div class="map-stop-hline"></div>
    <div class="row">


        <div class="lbl-betatesting">
            {{'lbl_betatesting_welcome' | translate}}
        </div>
    </div>

    <div class="row">

        <button class="button button-block button-close button-viaggia beta-button" ng-click="closeFirstOpenPopup()">
            <div class="row beta-button">
                <div class="col col-center">
                    {{'btn_start' | translate}} </div>
            </div>
        </button>
    </div>

</div>
