<div>
  <div class="row row-center map-stop-title">
    <i class="icon popup-icon ion-android-compass"></i>
    <div class="col">
      <b class="parking-title"> {{'lbl_calibration'|translate|uppercase}}</b>
    </div>
  </div>
  <div class="map-stop-hline"></div>
  <div class="row">
    <div class="col">
      <p> {{'lbl_calibration_content'|translate}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="img-calibration" src="img/compassCalibration.png">
    </div>
  </div>

</div>
