    <div class="close-button" ng-click="closePopup()">X</div>
    <!-- <div ng-bind-html="messageCorona"> -->
        <ion-content no-bounce>

    <div class="body-message">
        <div ng-bind-html="messageCorona"></div>
        <!-- <b>NUOVE MISURE CONTENIMENTO CORONAVIRUS:</b> <br><br>
        - azzeramento servizio festivo <br>
        - applicazione orario festivo a giornate feriali lun/sab <br>
        - istituzione servizio a chiamata elastibus <br>
        <b>Per esigenze di lavoro e urgenti ragioni sanitarie </b> (comprese le necessità di recarsi da parenti non
        autosufficienti) sarà possibile <b>contattare il numero verde 800390270 (Elastibus) </b>tutti i giorni dalle
        8.00 alle 17.00, per richiedere uno specifico trasporto gratuito, purché la richiesta arrivi entro le 17 del
        giorno precedente. I servizi di trasporto (gratuiti) saranno svolti dalle imprese del Consorzio Trentino
        Autonoleggiatori. <br>
        <br>
        <br>
        <b>I provvedimenti hanno validità a tempo indeterminato, fino a revoca da parte delle Autorità Competenti che li
            hanno deliberati. <br>
            <br>
            <br> -->
            Servizi di trasporto pubblico urbano di Trento</b>: <a href="#"
            onclick="window.open('http://www.ttesercizio.it//public/Comunicati/Comunicato-131-20-12032020-114426.pdf', '_system', 'location=yes'); return false;">vedi
            allegato</a> <br>
        <b>Funivia Trento - Sardagna</b>: <a href="#"
            onclick="window.open('http://www.ttesercizio.it//public/Comunicati/Comunicato-131-20-12032020-114426.pdf', '_system', 'location=yes'); return false;">vedi
            allegato</a><br>
        <b>Ferroviaria R35 Trento - Malè - Mezzana</b>: <a href="#"
            onclick="window.open('http://www.ttesercizio.it//public/Comunicati/Comunicato-127-20-12032020-115007.pdf', '_system', 'location=yes'); return false;">vedi
            allegato</a><br>
        <b>Ferroviaria R25-R26 Trento - Borgo - Bassano</b>: <a href="#"
            onclick="window.open('http://www.ttesercizio.it//public/Comunicati/Comunicato-141-20-14032020-233310.pdf', '_system', 'location=yes'); return false;">vedi
            allegato</a><br>
        </ion-content >
        </div>
