    <div class="close-button" ng-click="closePopup()">X</div>
    <!-- <div ng-bind-html="messageCorona"> -->
        <ion-content no-bounce class="corona-content">

    <div class="body-message">
            <!-- <div ng-bind-html="messageZero"></div> -->
            {{'message_popup_first'|translate}} <a href="#" onclick="cordova.InAppBrowser.open('http://www.ttesercizio.it//public/Comunicati/Comunicato-216-20-28052020-075403.pdf', '_system', 'location=yes'); return false;">Trento </a> {{'message_popup_second'|translate}}<a href="#" onclick="cordova.InAppBrowser.open('http://www.ttesercizio.it//public/Comunicati/Comunicato-217-20-28052020-075752.pdf', '_system', 'location=yes'); return false;">Rovereto </a> 
            {{'message_popup_third'|translate}} <a href="#" onclick="cordova.InAppBrowser.open('https://www.trentinotrasporti.it/news/6089-fase-2-ripristino-orario-festivo-funivia-trento-sardagna', '_system', 'location=yes'); return false;"> {{'message_popup_forth'|translate}}</a>
            {{'message_popup_fifth'|translate}}<a href="#" onclick="cordova.InAppBrowser.open('http://www.ttesercizio.it//public/Comunicati/Comunicato-207-20-23052020-181104.pdf', '_system', 'location=yes'); return false;"> {{'message_popup_sixth'|translate}}</a>
        </ion-content >
        </div>
