<div>
    <div class="row row-center row_empty_home"><img src="img/bookmarks/empty_home_img.png">
        <p class="col text-center empty_home_ops">{{'empty_home_label_1' | translate}}</p>
    </div>
    <div class="row row-center row_empty_home">
        <p class="col text-center empty_home_bookmarks">{{'empty_home_label_2' | translate}}</p>
    </div>
    <div class="row row-center row_empty_home">
        <div class="col text-center">
            <button class="button button-viaggia" ng-click="goToBookmarks()">{{'menu_bookmarks'| translate}}</button>
        </div>
    </div>
</div>
