<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-positive-100">
        <div class="buttons">
            <i class="icon voice-menu  close-modal" ng-class="{'ion-android-arrow-back': platform.isAndroid(), 'ion-ios-arrow-back': !platform.isAndroid()}" ng-click="closeFavorites()"></i>
        </div>
        <h1 class="title">{{'favorites_title_list'|translate}}</h1>

    </ion-header-bar>
    <ion-content>
        <div class="empty-list-card" ng-hide="favoritePlaces.length>0">
            {{'favorites_empty_list'|translate}}
        </div>
        <ion-list ng-hide="favoritePlaces.length==0">
            <a class="item  item-icon-right" ng-repeat="favorite in favoritePlaces track by $index">
                <p ng-click="favoriteSelect(favorite)">{{favorite.name}}</p>
                <i class="icon ion-close-round close-map" ng-click="deleteFavorite(favorite)"></i>
            </a>
        </ion-list>
    </ion-content>
</ion-modal-view>
