<div>
  <div class="row row-center map-stop-title">
    <i class="icon popup-icon ion-android-alert"></i>
    <div class="col">
      <b class="parking-title"> {{'lbl_first_time_parking_meter_title'|translate|uppercase}}</b>
    </div>
  </div>
  <div class="map-stop-hline"></div>
  <div class="row">
    <div class="col col-10">
      <i class="icon popup-icon ion-android-locate"></i>
    </div>
    <div class="col col-90">
      <p> {{'lbl_first_time_parking_meter_gps'|translate}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col col-10">
      <i class="icon popup-icon ion-android-compass"></i>
    </div>
    <div class="col col-90">
      <p> {{'lbl_first_time_parking_meter_compass'|translate}}
      </p>
    </div>
  </div>

</div>
