<ion-tabs id="homeTabs" class="tabs-icon-top">
    <ion-tab icon-on="ion-ios-home" icon-off="ion-ios-home" ui-sref="app.home.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ic_game_diary" icon-off="ic_game_diary" ui-sref="app.home.diary">
        <ion-nav-view name="tab-diary"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ic_leaderboards" icon-off="ic_leaderboards" ui-sref="app.home.leaderboards">
        <ion-nav-view name="tab-leaderboards"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ic_game_challenge" icon-off="ic_game_challenge" ui-sref="app.home.challenges">
            <ion-nav-view name="tab-challenges"></ion-nav-view>
        </ion-tab>
    <ion-tab icon-on="ic_mobility" icon-off="ic_mobility" ui-sref="app.home.mobility">
        <ion-nav-view name="tab-mobility"></ion-nav-view>
    </ion-tab>
</ion-tabs>