<ion-view>
    <ion-nav-title>
        Play&Go {{currentUser.nickName}}
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <!-- <button ng-click="openNotifications()" class="button button-icon button-home ic_notification">
                    <span class="badge badge-assertive header-badge" ng-if="countNotification>0">{{getCountNotification(countNotification)}}</span>
                </button> -->
        <!-- <button ng-click="openNotifications()" class="button button-icon button-home ion-android-compass">
                        <span class="badge badge-assertive header-badge" ng-if="countNotification>0">{{getCountNotification(countNotification)}}</span>
                    </button> -->
        <button class=" button-icon button-home icon ion-person" ng-click="openProfile();"></button>

    </ion-nav-buttons>

    <ion-content ng-class="{'empty_bookmarks': primaryLinks.length == 0}" ng-init="showTutorial()">
        <div class="user-state">
            <div class="row">
                <div class="col home-level">
                    {{'user_level_label' | translate}} {{status.playerData.level}}
                </div>
                <div class="col home-points">
                    {{status['pointConcept'][0]['score']}} {{'green_leaves_points' | translate}}
                </div>
            </div>
            <div class="row">
                <div id="progressbar">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="sponsor_banner" ng-if="weekly_sponsor!=null">
            <div class="row">
                <div class=" col col-center sponsor_text">
                    <span>{{'sponsor_week' | translate}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-center">
                    <img class="image center" ng-src="{{weekly_sponsor.img}}" width="100%" ng-click="openSponsorLink(weekly_sponsor.link)" />
                </div>
            </div>
        </div>

        <div class="tracking-dashboard">
            <div ng-if="trackingIsOn">
                <div class="row">
                    <div class="col text-center">
                        <h4>
                            <i class="icon ion-leaf"></i>{{'play_is_on' | translate}}</h4>
                        <div ng-if="trackingInfo.transport">
                            <b>{{'play_is_on_for' | translate: trackingInfo}}</b>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button class="button button-stop" ng-click="stopTracking()">{{'stop_tracking' | translate}}</button>
                    </div>
                </div>
                <div>
                    <div class="group-track" >
                        <div class="progress-bar-track">
                            <i class="icon ic_foot" ng-class="{'actual-track':actualTracking('walk')}"></i>
                            <div class="container-stat" ng-class="{'actual-container-stat':actualTracking('walk')}">
                                <div class="progress-bar-mean" ng-class="{'actual-track-bar':actualTracking('walk')}" style="width: {{progressPercent.walk}}%;"></div>
                            </div>
                        </div>
                        <div class="progress-bar-track">
                            <i class="icon ic_bike" ng-class="{'actual-track':actualTracking('bike')}"></i>
                            <div class="container-stat" ng-class="{'actual-container-stat':actualTracking('bike')}">
                                <div class="progress-bar-mean" ng-class="{'actual-track-bar':actualTracking('bike')}" style="width: {{progressPercent.bike}}%;"></div>
                            </div>
                        </div>
                        <div class="progress-bar-track">
                            <i class="icon ic_urban-bus" ng-class="{'actual-track':actualTracking('bus')}"></i>
                            <div class="container-stat" ng-class="{'actual-container-stat':actualTracking('bus')}">
                                <div class="progress-bar-mean" ng-class="{'actual-track-bar':actualTracking('bus')}" style="width: {{progressPercent.bus}}%;"></div>
                            </div>
                        </div>
                        <div class="progress-bar-track">
                            <i class="icon ic_train" ng-class="{'actual-track':actualTracking('train')}"></i>
                            <div class="container-stat" ng-class="{'actual-container-stat':actualTracking('train')}">
                                <div class="progress-bar-mean" ng-class="{'actual-track-bar':actualTracking('train')}" style="width: {{progressPercent.train}}%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="!trackingIsOn">
                <div class="row">
                    <div class="col text-center">
                        <h4>
                            <i class="icon ion-leaf"></i>{{'play_now' | translate}}</h4>
                        <div ng-if="!syncRunning">
                            <b>{{'play_now_sub' | translate}}</b>
                        </div>
                        <div ng-if="syncRunning">
                            <b>{{'wait_synch_running' | translate}}</b>
                        </div>
                    </div>
                </div>

                <div class="row" ng-class="{'synch':syncRunning}">
                    <div class="col">
                        <a ng-click="trackAndMap('walk')">
                            <div class="tracking-ds-button">
                                <i class="icon ic_foot"></i>
                                <span>{{'track_walk' | translate}}</span>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a ng-click="trackAndMap('bike')">
                            <div class="tracking-ds-button">
                                <i class="icon ic_bike"></i>
                                <span>{{'track_bike' | translate}}</span>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a ng-click="trackAndMap('bus')">
                            <div class="tracking-ds-button">
                                <i class="icon ic_urban-bus"></i>
                                <span>{{'menu_real_time_bus' | translate}}</span>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a ng-click="trackAndMap('train')">
                            <div class="tracking-ds-button">
                                <i class="icon ic_train"></i>
                                <span>{{'menu_real_time_train' | translate}}</span>
                            </div>
                        </a>
                    </div>
                </div>


            </div>

        </div>


        <div class="home-challenges">
            <div class="row">
                <div class="col home-your-challenges">
                    {{'home_your_challenges'|translate}}
                </div>
                <div class="col home-add-challenges ">
                    <button class="button icon ion-plus-round" ng-click="addChallenge()"></button>
                </div>
            </div>
            <div ng-if="challenges.length>0">
                <div ng-repeat="challenge in challenges">
                    challenge detail
                </div>
            </div>
            <div class="home-no-challenge" ng-if="challenges.length==0">
                {{'home_no_challenges'|translate}}
            </div>

        </div>



    </ion-content>

</ion-view>