<ion-modal-view>
  <ion-header-bar align-title="center" class="bar-positive-100">
    <div class="buttons">
      <i class="icon close-modal" ng-class="{'ion-android-arrow-back': platform.isAndroid(), 'ion-ios-arrow-back': !platform.isAndroid()}" ng-click="closeMapParkingMeters()"></i>
    </div>
    <h1 class="title">{{title}}</h1>

  </ion-header-bar>
  <ion-content scroll="false">
    <div id="modal-map-container" data-tap-disabled="true">
      <div class="compass">
        <canvas id="arrow" width="100" height="100"></canvas>
        <canvas id="distance" width="100" height="50"></canvas>
      </div>
      <leaflet event-broadcast="events" center="center" markers="markers" style="width: 100%; height: 700px;" ng-init="initMapParkingMeter()" id="modalMapParkingMeters"></leaflet>
    </div>
  </ion-content>
</ion-modal-view>
