<ion-view id="plan" title="{{'markets_title'|translate}}">
    <ion-content id="content" has-header="true">
        <div class="row">
            <div class="col market-subtitle">{{'markets_subtitle'|translate}}</div>
        </div>
        <div class="row">
            <div class="col market-text1">{{'markets_text1'|translate}}</div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="card" ng-click="goToMarket()">
                    <div class="item item-text-wrap button-viaggia-header">
                        {{'markets_button_to_market' | translate}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="card" ng-click="goToPark()">
                    <div class="item item-text-wrap button-viaggia-header">
                        {{'markets_button_to_park1' | translate}}
                        <br> {{'markets_button_to_park2' | translate}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col market-text2">{{'markets_text2'|translate}}</div>
        </div>
        <div class="row">
            <div class="col market-text2">{{'markets_text3'|translate}}</div>
        </div>
        <div class="row">
            <div class="col market-text2">{{'markets_text4'|translate}}</div>
        </div>
        </div>
    </ion-content>
</ion-view>
