<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-menu-content="false" edge-drag-threshold="true">
        <ion-nav-bar class="bar-positive-100" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear" menu-toggle="left">
                    <i class="icon ion-navicon"></i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content class="leftmenu">
            <ion-list>
                <div class="fs-header"></div>
                <ion-item nav-clear menu-close href="#/app/home" class="menu-main item-icon-left">
                    <i class="icon ic_home"></i>{{'menu_home' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/plan" class="menu-main item-icon-left">
                    <i class="icon ic_search"></i>{{'menu_plan' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/mytrips" class="menu-main item-icon-left">
                    <i class="icon ic_folder"></i>{{'menu_mytrip' | translate}}
                </ion-item>
                <div>
                    <ion-item class="item item-icon-left item-icon-right menu-main" ng-click="toggleGroupRealTime()" ng-class="{active: isGroupRealTimeShown()}">
                        <i class="icon ic_real-time-info"></i> {{'menu_info_real_time' | translate}}
                        <i class="icon" ng-class="isGroupRealTimeShown() ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
                    </ion-item>
                    <div>
                        <ion-item class="item-icon-left item-accordion  menu-rt" ng-repeat="m in infomenu" ng-show="isGroupRealTimeShown()" nav-clear menu-close item-icon-left ng-href="#{{m.state}}">
                            <i class="icon" ng-class="m.icon"></i>{{m.label | translate}}
                        </ion-item>
                    </div>
                </div>

                <!--
                <ion-item nav-clear menu-close href="#/app/monitoring" class="menu-main item-icon-left">
                    <i class="icon ic_monitoring"></i>{{'menu_monitoring' | translate}}
                </ion-item>
-->
                <ion-item nav-clear menu-close href="#/app/taxi" class="menu-main item-icon-left" ng-if="taxiEnabled">
                    <i class="icon ic_taxi"></i>{{'menu_taxi' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/news" class="menu-main item-icon-left">
                    <i class="icon ic_news"></i>{{'menu_news' | translate}}
                </ion-item>
                <!--
                <ion-item nav-clear menu-close href="#/app/info" class="menu-main item-icon-left">
                    <i class="icon ic_euro"></i>{{'menu_info' | translate}}
                </ion-item>
-->

                <ion-item nav-clear menu-close href="#/app/bookmarks" class="menu-main item-icon-left">
                    <i class="icon ic_bookmark"></i>{{'menu_bookmarks' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/notifications" class="menu-main item-icon-left">
                    <i class="icon ic_notification"></i>{{'menu_notifications' | translate}}
                </ion-item>
                <!--
<ion-item nav-clear menu-close href="#/app/login" class="menu-last item-icon-left">
    <i class="icon ic_user"></i>{{'menu_login' | translate}}
</ion-item>
-->
                <ion-item nav-clear menu-close href="{{contactLink}}" class="item-icon-left menu-main ">
                    <i class="icon ic_segnala_problemi"></i>{{'menu_betatesting_bug' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close ng-click="openCredits()" class="menu-last item-icon-left">
                    <i class="icon ic_info"></i>{{'menu_credits' | translate}}
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
