<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar">
            <ion-nav-buttons side="left">
                <!-- O: button-clear or button-icon -->
                <button class="button button-clear" menu-toggle="left">
                    <i class="icon ion-navicon"></i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content class="leftmenu">
            <ion-list>
                <ion-item nav-clear menu-close item-icon-left href="#/app/home">
                    <i class="icon voice-menu"></i>table 1 test
                </ion-item>
                <ion-item nav-clear menu-close item-icon-left href="#/app/table">
                    <i class="icon voice-menu"></i>table 2 test
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
