<ion-view id="mobility" title="{{'mobility_title'|translate}}">
    <ion-nav-buttons side="right">
            <button ng-click="openNotifications()" class="button button-icon button-home ic_notification"><span class="badge badge-assertive header-badge"
                ng-if="countNotification>0">{{getCountNotification(countNotification)}}</span></button>
        <!-- <div class="profile-container">
            <img class="bar-profile-img" ng-if="profileImg" ng-src="{{profileImg}}" ng-click="openProfile()">
        </div> -->
    </ion-nav-buttons>
    <ion-content id="content" has-header="true" ng-class="{'margin-for-trackingbar-tab':buttonMapNeed()}">
        <ion-list class="home-list" ng-if="primaryLinks.length>0">
            <ion-item ng-repeat="m in primaryLinks" ng-last-repeat="primaryLinks" ng-click="go(m.state)">
                <button class="button button-block">
                    <div class="row">
                        <i class="col-center icon" ng-class="m.icon" style="{{'color: ' + m.color}}"></i>
                        <div class="col col-center">
                            <ng-include src="getBookmarkItemTemplate(m.type)"></ng-include>
                        </div>
                    </div>
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>