<ion-view id="mytrips">
    <ion-content id="content" has-header="true">
        <div class="card empty-list-card" ng-hide="savedTrips.length>0">
            {{'my_trip_empty_list'|translate}}
        </div>
        <ion-list class="animate-ripple" ng-hide="savedTrips.length==0">
            <ion-item class="card" ng-repeat="journey in savedTrips" ng-last-repeat="savedTrips" ng-click="showPlan(journey)">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <div>{{journey.data.name }}</div>
                    </div>
                </div>
                <!--<div class="col-md-10">-->
                <div class="row">
                    <div class="col-md-12 text-right">
                        <small class="text-muted text-center">da: {{journey.data.originalFrom.name}}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <small class="text-muted text-center">a: {{journey.data.originalTo.name}}</small>
                    </div>
                </div>

                <!--</div>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
