<ion-view id="mytrips" title="{{'my_trip_title'|translate}}">
    <ion-content id="content" has-header="true">
        <div ng-hide="savedTrips.length>0" class="text-center">
            <h4>{{'my_trip_empty_list'|translate}}</h4>
        </div>

        <ion-refresher on-refresh="load()" ng-if="userIsLogged()">
        </ion-refresher>
        <ion-list ng-hide="savedTrips.length==0">
            <ion-item class="card trip-card" ng-repeat="journey in savedTrips |orderBy: '-data.startime'" ng-last-repeat="savedTrips" ng-click="showPlan(journey)">

                <div class="trip-title text-center">
                    <strong>{{journey.name }}</strong>
                </div>
                <div class="row">
                    <div>
                        <small class="item-text-wrap text-muted"><strong>{{'my_trip_from'|translate}}</strong>: {{journey.originalFrom.name}}</small>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <small class="item-text-wrap  text-muted"><strong>{{'my_trip_to'|translate}}</strong>: {{journey.originalTo.name}}</small>
                    </div>
                </div>
                <div class="row">
                    <div ng-if="!isRecurrency(journey)">
                        <small class="text-muted"><strong>{{'my_trip_time'|translate}}</strong>: {{journey.data.startime| date:'dd/MM/yyyy HH:mm'}}</small>
                    </div>
                    <div ng-if="isRecurrency(journey)">
                        <small class="text-muted"><strong>{{'my_trip_time'|translate}}</strong>: {{journey.data.startime| date:' HH:mm'}} </small>
                    </div>
                </div>
                <ion-option-button class="button button-viaggia no-shadow icon ion-edit" ng-click="modifyTrip($index)"></ion-option-button>
                <ion-option-button class="button button-viaggia no-shadow icon ion-android-delete" ng-click="deleteTrip($index)"></ion-option-button>
                <!--                </div>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
