<div>
    <div class="row row-center map-stop-title">
        <i class="icon popup-icon ic_parking-lot"></i>
        <div class="col">
            <b class="parking-title"> {{'lbl_parking'|translate}}</b>
        </div>
        <!--        bookmark button-->
        <button class="button button-icon button-clear bookmark-popup ic_bookmark-outline" ng-class="bookmarkStyle" ng-click="bookmark()"></button>
    </div>
    <div class="map-stop-hline"></div>
    <div class="row map-stop-name">
        <div class="col">
            <h4>{{popupParking.name}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>{{popupParking.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b><p ng-if="popupParking.distance">{{'bikesharings_distance' | translate}} {{popupParking.distance| number:1}}km</p></b>
        </div>
    </div>
    <div class="row parking-card-footer">
        <div ng-if="!popupParking.monitored || popupParking.slotsAvailable == -2" class="col col-right">
            <div class="slots-text"><span>{{popupParking.slotsTotal}} {{'lbl_places' | translate}}</span></div>
        </div>
        <div ng-if="popupParking.monitored && popupParking.slotsAvailable > -2" class="col col-right">
            <div class="slots-text"><span ng-class="popupParking.availLevel">{{popupParking.slotsAvailable > 0? popupParking.slotsAvailable : 0}} {{'parking_on' | translate}} {{popupParking.slotsTotal}}</span>
            </div>
        </div>
    </div>
</div>
