<div>
    <div class="row">
        <div class="col">
            <h4>{{popupParking.name}}</h4>
            <p>{{popupParking.description}}</p>
        </div>
    </div>
    <div class="row parking-card-footer">
        <div class="col"><span ng-if="popupParking.distance">{{popupParking.distance| number:1}}km</span>
        </div>
        <div ng-if="!popupParking.monitored || popupParking.slotsAvailable == -2" class="col col-right"><span>{{popupParking.slotsTotal}} {{'lbl_places' | translate}}</span>
        </div>
        <div ng-if="popupParking.monitored && popupParking.slotsAvailable > -2" class="col col-right">
            <div>
                <div class="text-center"><span ng-class="popupParking.availLevel">{{p.slotsAvailable > 0? p.slotsAvailable : 0}} {{'parking_on' | translate}} {{p.slotsTotal}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
