<ion-view id="PlanList" title="{{plantitle}}">
    <ion-content id="content" has-header="true" ng-class="{'margin-for-trackingbar':buttonMapNeed()}">
        <div class="row">
            <div class="col col-50">{{departureDate}}</div>
            <div class="col col-50 text-right"> {{departureTime | date:'HH:mm'}}</div>
        </div>
        <div class="row">
            <div class="col col-50 ">{{nameFrom}}</div>
            <div class="col col-50 text-right"> {{nameTo}}</div>
        </div>
        <div ng-if="empty" class="text-center">
            <h4>{{'planlist_empty_list'|translate}}</h4>
        </div>
        <ion-list ng-if="!empty">
            <div ng-if="containsGreen">

                <div class="green-head">
                    <div class="green-thumb"><img src="img/ic_leaf.png" />
                    </div>
                    <div class="green-content">
                        <p class="green-title">{{'planlist_sustanainable' | translate}}</p>
                    </div>
                </div>
                <ion-item class="list-journey" ng-repeat="journey in journeys" ng-if="journey.promoted" ng-last-repeat="journeys" ng-click="showPlan(journey)">
                    <div class="row">
                        <div class="col-md-2 text-center line-background-for-list" style="min-height: 100px;">
                            <div class="row">{{journey.startime | date:'HH:mm'}}</div>
                            <div class="row" style="position: absolute; bottom: 0;">{{journey.endtime | date:'HH:mm'}}</div>
                        </div>
                        <div class="col">

                            <div class="row">
                                <div class="list-of-icons thumbnail col-md-2" ng-repeat="mean in journey.means">
                                    <img ng-src="{{mean.img}}">
                                    <div ng-show="!mean.parking_street" class="text-center">
                                        <div ng-repeat="n in mean.note.value">{{n.value}}</div>
                                    </div>
                                    <div ng-show="mean.parking_street" class="col parking-info">
                                        <div class="col" ng-repeat="n in mean.note">

                                            <span ng-if="n.type=='cost'">{{'parking_cost' | translate}}</span>
                                            <span ng-if="n.type=='time'">{{'parking_time' | translate}}</span><b>{{n.value}}</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="green-points">
                        <img class="points-image" src="img/ribbon.png">
                        <span class="text-muted text-center points" ng-if="journey.customData['estimatedScore']">{{journey.customData["estimatedScore"]}}</span>
                        <span class="text-muted text-center points" ng-if="!journey.customData['estimatedScore']">0</span>
                    </div>
                    <div class="length-price">
                        <span class="text-muted text-center">{{journey.length}}km</span>
                        <span class="text-muted text-center" ng-if="journey.price > 0">/ {{journey.price| number:2}}  &#8364;</span>
                    </div>
                </ion-item>
                <div class="green-bottom"></div>
            </div>
            <ion-item class="list-journey" ng-repeat="journey in journeys" ng-if="!journey.promoted" ng-last-repeat="journeys" ng-click="showPlan(journey)">
                <div class="row">
                    <div class="col-md-2 text-center line-background-for-list" style="min-height: 100px;">
                        <div class="row">{{journey.startime | date:'HH:mm'}}</div>
                        <div class="row" style="position: absolute; bottom: 0;">{{journey.endtime | date:'HH:mm'}}</div>
                    </div>
                    <div class="col">

                        <div class="row">
                            <div class="list-of-icons thumbnail col-md-2" ng-repeat="mean in journey.means">
                                <img ng-src="{{mean.img}}">
                                <div ng-show="!mean.parking_street" class="text-center">
                                    <div ng-repeat="n in mean.note">{{n.value}}</div>
                                </div>
                                <div ng-show="mean.parking_street" class="col parking-info">
                                    <div ng-repeat="n in mean.note">
                                        <span ng-if="n.type=='cost'">{{'parking_cost' | translate}}</span>
                                        <span ng-if="n.type=='time'">{{'parking_time' | translate}}</span><b>{{n.value}}</b>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="green-points">
                    <img class="points-image" src="img/ribbon.png">
                    <span class="text-muted text-center points" ng-if="journey.customData['estimatedScore']">{{journey.customData["estimatedScore"]}}</span>
                    <span class="text-muted text-center points" ng-if="!journey.customData['estimatedScore']">0</span>
                </div>
                <div class="length-price">
                    <span class="text-muted text-center">{{journey.length}}km</span>
                    <span class="text-muted text-center" ng-if="journey.price > 0">/ {{journey.price| number:2}}  &#8364;</span>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
