<ion-view id="plan">
    <ion-nav-buttons side="right">
        <button class="button button-balanced button-fab" ng-click="plan()"> <i class="icon ion-search"></i> </button>
    </ion-nav-buttons>
    <ion-content id="content" has-header="true">
        <div class="row plan-first-row">
            <!--            <label class="item-input item-floating-label input-plan-fromto ">-->
            <div class="input-plan-fromto">
                <span class="input-label">{{'plan_from' | translate}}</span>
                <!--                <input type="text" placeholder="{{'plan_from' | translate}}" ng-model="planParams.from.name">-->
                <placeautocomplete ng-model="fromName" attr-placeholder="{{'plan_from' | translate}}" click-activation="true" data="places" on-type="typePlace" placeholder="{{'plan_from' | translate}}" on-select="changeStringFrom" ng-blur="setNameParam"></placeautocomplete>
            </div>
            <!--            </label>-->
            <button class="button button-raised button-plan-fromto no-padding margin-8  icon ion-map" ng-click="openMapPlan('from')">
            </button>
            <button class="button button-raised button-plan-fromto no-padding margin-8 icon ion-star">

            </button>
        </div>
        <div class="row">
            <!--            <placeautocomplete ng-model="toName" attr-placeholder="{{'plan_to' | translate}}" click-activation="true" data="places" on-type="typePlace" placeholder="{{'plan_from' | translate}}" on-select="changeString" ng-blur="setNameParam"></placeautocomplete>-->


            <!--            <label class="item-input item-floating-label input-plan-fromto ">-->
            <div class="input-plan-fromto">

                <span class="input-label">{{'plan_to' | translate}}</span>
                <placeautocomplete ng-model="toName" attr-placeholder="{{'plan_to' | translate}}" click-activation="true" data="places" on-type="typePlace" placeholder="{{'plan_from' | translate}}" on-select="changeStringTo" ng-blur="setNameParam"></placeautocomplete>
            </div>
            <!--            </label>-->

            <button class="button button-raised square-56 no-padding margin-8  icon ion-map" ng-click="openMapPlan('to')">
            </button>
            <button class="button button-raised square-56 no-padding margin-8 icon ion-star">
            </button>
        </div>
        <div class="row plan-first-row">
            <label class="item item-input plan-item-time">
                <span class="input-label">{{'plan_day' | translate}}</span>
                <!--                <input type="text" class="datepicker" ng-model="plan.time">-->
                <ionic-datepicker input-obj="datepickerObjectPopup">
                    <button class="button button-block button-balanced"> {{datepickerObjectPopup.inputDate | date:'dd/MM/yyyy'}}</button>
                </ionic-datepicker>
            </label>
            <label class="item item-input plan-item-time">
                <span class="input-label">{{'plan_time' | translate}}</span>
                <!--                <input type="text" class="timepicker" ng-model="plan.time">-->
                <ionic-timepicker input-obj="timePickerObject24Hour">
                    <button class="button button-block button-balanced overflowShow">
                        <standard-time-no-meridian etime='timePickerObject24Hour.inputEpochTime'></standard-time-no-meridian>
                    </button>
                </ionic-timepicker>
            </label>
        </div>
        <div class="row plan-first-row">
            <button class="button button-raised button-plan-type no-padding margin-8  icon ic_foot" ng-class="{'button-balanced': isSwitched('WALK')}" ng-click="switch('WALK')">

            </button>
            <button class="button button-raised button-plan-type no-padding margin-8  icon ic_public-transport" ng-class="{'button-balanced': isSwitched('TRANSIT')}" ng-click="switch('TRANSIT')">

            </button>
            <button class="button button-raised button-plan-type no-padding margin-8  icon ic_car" ng-class="{'button-balanced': isSwitched('CAR')}" ng-click="switch('CAR')">

            </button>
            <button class="button button-raised button-plan-type no-padding margin-8  icon ic_bike" ng-class="{'button-balanced': isSwitched('BICYCLE')}" ng-click="switch('BICYCLE')">
            </button>
        </div>
        <div class="row">
            <button class="button button-raised button-plan-type no-padding margin-8  icon ic_car-sharing" ng-class="{'button-balanced': isSwitched('SHAREDCAR')}" ng-click="switch('SHAREDCAR')">

            </button>
            <button class="button button-raised button-plan-type no-padding margin-8 icon ic_bike-sharing" ng-class="{'button-balanced': isSwitched('SHAREDBIKE')}" ng-click="switch('SHAREDBIKE')">
            </button>

        </div>

        <span class="input-label" style="max-width:100%!important;" ng-click="togglePreferences()">{{'plan_preferences' | translate}} <i class="icon"  ng-class="isPreferencesShown() ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i> </span>
        <div class="list">
            <label class="item item-radio item-accordion " ng-show="isPreferencesShown()" ng-repeat="preference in preferences">
                <input type="radio" ng-model="planParams.routeType" ng-value="preference.value" name="group">
                <div class="item-content">
                    {{preference.label}}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
    </ion-content>
</ion-view>
