<ion-view id="notifications" title="{{'registration_title' | translate}}">
    <ion-content id="content" has-header="true">
        <!--<div class="row space-from-top">-->
        <div class="item item-text-wrap">{{'registration_answer' | translate}}</div>
        <ion-checkbox ng-model="read.isChecked"><b>{{'registration_read' | translate}}</b></ion-checkbox>
        <div class="rules_list">
            <ul class="list-welcome">
                <li><a href="#" onclick="window.open('https://tn.smartcommunitylab.it/gamificationweb/view_rules', '_system', 'location=yes'); return false;">{{'registration_link_rule' | translate}}</a></li>
                <li><a href="#" onclick="window.open('https://tn.smartcommunitylab.it/gamificationweb/view_privacy', '_system', 'location=yes'); return false;">{{'registration_privacy' | translate}}</a></li>
                <li><a href="#" onclick="window.open('https://tn.smartcommunitylab.it/gamificationweb/view_prizes', '_system', 'location=yes'); return false;">{{'registration_prizes' | translate}}</a></li>
            </ul>

        </div>
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{'registration_nick' | translate}}</span>
            <input type="text" placeholder="{{'registration_nick_placeholder' | translate}}" ng-model="user.nickname">
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                {{'registration_age' | translate}}
            </div>
            <select ng-model="user.age_range" ng-change="showSelectValue(mySelect)">
                <option selected>{{'age_placeholder' | translate}}</option>
                <option value="0-20">{{'age_option1' | translate}}</option>
                <option value="20-40">{{'age_option2' | translate}}</option>
                <option value="40-70">{{'age_option3' | translate}}</option>
                <option value="70-100">{{'age_option4' | translate}}</option>
            </select>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{'registration_km' | translate}}</span>
            <input type="text" placeholder="{{'registration_km_placeholder' | translate}}" ng-model="user.averagekm">
        </label>
        <div class="item item-text-wrap">{{'registration_public_transport' | translate}}</div>
        <ion-list>
            <ion-radio ng-repeat="item in usetransports" ng-value="item.value" ng-model="data.publictransport" ng-click="initTransport()"/>{{ item.text }}
                <!--
                <ion-radio ng-model="uses_public_transport" ng-value="true" ng-model="publictransport.checked">{{'registration_true' | translate}}</ion-radio>
                <ion-radio ng-model="uses_public_transport" ng-value="false" ng-model="publictransport.checked">{{'registration_false' | translate}}</ion-radio>
-->
        </ion-list>
        <div class="item item-text-wrap">{{'registration_which_public_transport' | translate}}</div>

        <ion-list ng-if="data.publictransport">
            <ion-checkbox ng-repeat="item in publicTransport" ng-model="item.checked" ng-checked="item.checked">
                {{ item.text }}
            </ion-checkbox>
            <!--
            <ion-checkbox ng-model="filter.train">{{'registration_transport_train' | translate}}</ion-checkbox>
            <ion-checkbox ng-model="filter.bus">{{'registration_transport_bus' | translate}}</ion-checkbox>
            <ion-checkbox ng-model="filter.carsharing">{{'registration_transport_carsharing' | translate}}</ion-checkbox>
            <ion-checkbox ng-model="filter.bikesharing">{{'registration_transport_bikesharing' | translate}}</ion-checkbox>
-->

        </ion-list>
        <ion-list ng-if="!data.publictransport">
            <ion-checkbox ng-repeat="item in privateTransport" ng-model="item.checked" ng-checked="item.checked">
                {{ item.text }}
            </ion-checkbox>
            <!--

            <ion-checkbox ng-model="filter.car">{{'registration_transport_car' | translate}}</ion-checkbox>
            <ion-checkbox ng-model="filter.bike">{{'registration_transport_bike' | translate}}</ion-checkbox>
            <ion-checkbox ng-model="filter.foot">{{'registration_transport_foot' | translate}}</ion-checkbox>
-->

        </ion-list>
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{'registration_invite' | translate}}</span>
            <input type="text" placeholder="{{'registration_invite_placeholder' | translate}}" ng-model="user.nick_recommandation">
        </label>
        <button class="button button-viaggia-header button-block" ng-click="register()">
            Registra
        </button>
        <!--        </div>-->
    </ion-content>
</ion-view>
