<div>
    <div class="row row-center map-stop-title">
        <i class="icon popup-icon" ng-class="popupStop.icon"></i>
        <div class="col">
            {{'lbl_stop'|translate}}
        </div>
    </div>
    <div class="map-stop-hline"></div>
    <div class="row map-stop-name">
        <div class="col">
            {{popupStop.name}}
        </div>
    </div>
    <div class="row" ng-if="!isEmpty(popupStop.data)">
        <div class="col">
            {{'lbl_lines' | translate}}
        </div>
    </div>

    <div class="list stop-line-list" ng-if="popupStop.visualization.view != 'grid'">
        <div class="item" ng-repeat="(routeId, route) in popupStop.data">
            <div ng-if="route.routeObject">
                <span ng-if="route.routeObject.label"><b>{{route.routeObject.label}}</b>: {{route.routeObject.title}}</span>
                <span ng-if="!route.routeObject.label"><b>{{route.routeObject.title}}</b></span>
            </div>
            <div ng-if="!route.routeObject">
                <span ng-if="route.route"><b>{{route.route}}</b>: {{route.name}}</span>
                <span ng-if="!route.route"><b>{{route.name}}</b></span>

            </div>
        </div>

    </div>
    <div class="stop-line-grid" ng-if="popupStop.visualization.view == 'grid'">
        <div class="route-grid-element" ng-repeat="(routeId, route) in popupStop.data" style="{{route.routeElement.color ? ('background-color: '+route.routeElement.color) : 'color:#000;border: 2px solid #000; text-shadow: none;'}}">
            <span ng-if="!route.routeElement.gridCode">{{route.routeElement.label}}</span>
            <span ng-if="route.routeElement.gridCode"><i class="icon {{route.routeElement.gridCode}}"></i>
            </span>
        </div>

    </div>
    <div class="map-stop-nocourses" ng-if="isEmpty(popupStop.data)">
        {{'lbl_no_trips'|translate}}
    </div>
</div>
