<ion-view title="{{route.label ? (route.label + ': ') : ''}}{{route.title}}">
    <ion-content id="content" has-header="true" has-bouncing="false">
      <div class="row" style="background-color: {{color}};">
        <div class="col col-25 tt-day btn" ng-click="prevDate()"><a><i class="icon ion-arrow-left-b"></i></a></div>
        <div class="col col-50 tt-day">{{runningDate | date : 'dd/MM/yyyy'}}</div>
        <div class="col col-25 tt-day btn" ng-click="nextDate()"><a><i class="icon ion-arrow-right-b"></i></a></div>
      </div>
        <div
             ng-if="tt && tt.tripIds.length > 0"
             ngc-table data="data"
             scroll-delay="0"
             show-footer="false"
             left-column-number="1" left-column-widths="'100'"
             header-row-number="header_row_number" header-row-heights="row_height"
             right-column-number="0"
             show-row-numbers="false"
             show-column-names="false"
             center-column-widths="[column_width]"
             center-column-number="column_number"
             row-number="row_number"
             row-heights="[row_height]"
             scroll-left-position="scrollLeftPosition"><!-- custom-data-fn="customDataFn" -->
        <ngc-range top="0" bottom="header_row_number" left="1" right="tt.tripIds.length+1" style-fn="styleFn"></ngc-range>
        <ngc-range top="header_row_number" bottom="tt.stops.length+header_row_number" left="1" right="tt.tripIds.length+1" style-fn="styleFn"></ngc-range>
      </div>
      <div ng-if="tt && tt.tripIds.length == 0" class="text-center">
        <h4>{{'no_data' | translate}}</h4>
      </div>
    </ion-content>
</ion-view>
