<ion-view title="{{title}}">
    <ion-nav-buttons side="right">
        <!--
        <button class="button button-icon ion-minus-round" ng-click="changeStyleTable('minus')">
        </button>
        <button class="button button-icon ion-plus-round" ng-click="changeStyleTable('plus')"></button>
-->
        <button class="button button-icon button-clear" ng-class="tableStyle" ng-click="changeStyleTable()"></button>
        <button ng-if="isAccessibilitySet()" class="button button-icon button-clear" ng-class="accessibilityStyle" ng-click="toggleAccessibility()" ng-show="accesibilityKnow"></button>
        <button class="button button-icon button-clear" ng-class="bookmarkStyle" ng-click="bookmark()"></button>
    </ion-nav-buttons>
    <ion-content id="content" has-header="true" has-bouncing="false">
        <div id="header-table">
            <div class="row" style="background-color: {{color}}; color: {{textColor(color)}} !important;">
                <div class="col tt-subtitle">{{subtitle}}</div>
            </div>
            <div class="row" style="background-color: {{color}}; color: {{textColor(color)}} !important;">
                <div class="col col-25 tt-day btn" ng-click="prevDate()"><a><i class="icon ion-arrow-left-b"></i></a>
                </div>
                <div class="col col-50 tt-day">{{runningDate | dowDate}} {{runningDate | date : 'dd/MM/yyyy'}}</div>
                <div class="col col-25 tt-day btn" ng-click="nextDate()"><a><i class="icon ion-arrow-right-b"></i></a>
                </div>
            </div>
        </div>
        <div class="tt-table" ng-class="{'tt-table-acc':flagAccessibility}">
            <div ng-if="dataStr" id="table-corner" style="width:{{stopsColWidth}}px; height:{{tableHeaderHeight}}px">
                <div style="font-size:{{fontsize}}px;"> <i class="icon ic_access table-accessibility"></i> <span class="corner-delay">{{tableCornerStr[0]}}</span>
                </div>
                <!--            <div>{{tableCornerStr[0]}}</div>-->
                <div ng-if="header_row_number == 2" class="delay" style="font-size:{{fontsize}}px;">{{tableCornerStr[1]}}</div>
            </div>

            <div class="row table-container" ng-if="dataStr">

                <ion-scroll direction="xy" has-bouncing="false" id="tablescroll" style="height:{{scrollHeight}}px; width: {{scrollWidth}}px" class="overlapDiv" on-scroll="doScroll()" delegate-handle="list">
                    <div id="table-col" ng-bind-html="colStr" style="width:{{stopsColWidth}}px;
                            line-height: {{stopsColLineHeight}}px;
                            top: {{tableHeaderHeight}}px;
                            background-size: 100% {{rowHeight*2}}px;
                            font-size:{{fontsize}}px;
                            left:{{col.style.left}};
                             top:{{col.style.top}};
                            background-image:
                            -webkit-linear-gradient(90deg,#fff, #fff {{rowHeight}}px, #eee {{rowHeight}}px, #eee {{rowHeight*2}}px);
                            background-image:
                            linear-gradient(180deg,#fff, #fff {{rowHeight}}px, #eee {{rowHeight}}px, #eee {{rowHeight*2}}px);" ng-click="showStop($event)"></div>
                    <div id="table-header" style="left:{{stopsColWidth}}px;top:{{header.style.top}};font-size:{{fontsize}}px;">
                        <div ng-bind-html="headStr[0]"></div>
                        <div ng-if="header_row_number == 2" ng-bind-html="headStr[1]" class="header-row-types"></div>
                    </div>

                    <div id="table-table" ng-bind-html="dataStr" style="left:{{stopsColWidth}}px;
                            top: {{tableHeaderHeight}}px;
                            line-height: {{stopsColLineHeight}}px;
                            background-size: 100% {{rowHeight*2}}px;
                            font-size:{{fontsize}}px;
                            background-image:
                            -webkit-linear-gradient(90deg,transparent, transparent {{rowHeight}}px, #eee {{rowHeight}}px, #eee {{rowHeight*2}}px);
                            background-image:
                            linear-gradient(180deg,transparent, transparent {{rowHeight}}px, #eee {{rowHeight}}px, #eee {{rowHeight*2}}px);"></div>
                </ion-scroll>
            </div>
        </div>
        <!--
        <div ng-if="tt && tt.tripIds.length > 0" ngc-table data="data" scroll-delay="0" show-footer="false" left-column-number="1" left-column-widths="'100'" header-row-number="header_row_number" header-row-heights="row_height" right-column-number="0" show-row-numbers="false" show-column-names="false" center-column-widths="[column_width]" center-column-number="column_number" row-number="row_number" row-heights="[row_height]" scroll-left-position="scrollLeftPosition">
            <ngc-range top="0" bottom="header_row_number" left="1" right="tt.tripIds.length+1" style-fn="styleFn"></ngc-range>
            <ngc-range top="header_row_number" bottom="tt.stops.length+header_row_number" left="1" right="tt.tripIds.length+1" style-fn="styleFn"></ngc-range>
        </div>
-->
        <div ng-if="tt && tt.tripIds.length == 0" class="text-center">
            <h4>{{'no_tt' | translate}}</h4>
        </div>
        <div id="measurer" style="white-space: nowrap;font-family: RobotoMono;font-size: 12px;color: transparent;background-color: transparent;position:absolute;">123456789</div>
    </ion-content>
</ion-view>
