<ion-view title="{{'menu_taxi'|translate}}">
    <!-- <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goBackView()">
            <i class="ion-android-arrow-back" style="font-size:30px;"></i>
        </button>
    </ion-nav-buttons> -->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-fab button-viaggia-header ion-map" ng-click="showMap()"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true" ng-class="{'margin-for-trackingbar':buttonMapNeed()}">
        <ion-refresher on-refresh="load()">
        </ion-refresher>
        <!--        <div ng-init="locateMe()" ng-if="showStreetName">-->
        <div ng-init="locateMe()">
            <div class="user-position" ng-if="showStreetName">
                <!--
<div class="user-position-warning">
    Attenzione! L'indirizzo mostrato potrebe non essere corretto.
</div>
-->
                <div class="user-position-your-position"> {{'taxi_label_your_position'|translate}}</div>
                <div class="user-position-your-position">
                    <b>{{userPosition.name}}</b>
                </div>
                <div class="user-position-your-position"> {{'taxi_label_check_it'|translate}}</div>

            </div>
            <div class="user-position" ng-if="!showStreetName">

                <div class="user-position-your-position"> {{'taxi_label_no_accuracy'|translate}}</div>
            </div>
        </div>
        <ion-list class="list">
            <div class="item card" ng-repeat="t in taxiCompanies">
                <div class=" item taxi-card ">
                    <div class="taxi-name ">{{t.name}}</div>
                    <ion-list>
                        <ion-item ng-repeat="phone in t.phone ">
                            <i class="icon voice-menu ion-ios-telephone taxi-icon " style="margin-right: 20px; "></i>
                            <a href="tel:{{phone}} " class="taxi-number ">{{phone}}</a>
                        </ion-item>
                    </ion-list>
                    <ion-list>
                        <ion-item ng-repeat="sms in t.sms ">
                            <i class="icon voice-menu ion-android-chat taxi-icon " style="margin-right: 20px; "></i>
                            <a href="sms:{{sms}} " class="taxi-number ">{{sms}}</a>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </ion-list>
        <div ng-if="(!taxiCompanies || taxiCompanies.length==0 ) && !loading " class="text-center ">
            <h4>{{'no_data' | translate}}</h4>
        </div>
    </ion-content>
</ion-view>