<ion-view id="tripdetails">
    <ion-nav-buttons side="right">
        <button class="button button-viaggia-header button-fab" ng-click="openMapTrip()"> <i class="icon ion-map"></i> </button>
    </ion-nav-buttons>
    <ion-content id="content" has-header="true">
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <div class="row green-header" ng-if="currentItinerary.promoted">
                                <div class="col">
                                    Itinerario sostenibile
                                    <span class="glyphicon glyphicon-leaf pull-right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <!-- START -->
                            <div class="row leg">
                                <div class=" start-leg">
                                    <img src="img/ic_point_outline.png">
                                </div>
                                <div>{{toTime(currentItinerary.startime)}}</div>
                                <div>{{requestedFrom}}</div>
                            </div>
                            <!-- ROW -->
                            <div class="row leg" ng-repeat="step in currentItinerary.steps">
                                <div class="line-background">
                                    <img src="img/ic_point.png">
                                </div>
                                <div>{{toTime(step.startime)}}</div>
                                <div class="col inter-leg">
                                    <p ng-if="step.action">{{step.action}}<strong ng-if="step.actionDetails">{{step.actionDetails}}</strong>
                                    </p>
                                    <p ng-if="step.from != null">{{step.fromLabel}}<strong>{{step.from}}</strong>
                                    </p>
                                    <p ng-if="step.to != null">{{step.toLabel}}<strong>{{step.to}}</strong>
                                    </p>
                                    <p ng-if="step.parking && step.parking.cost">
                                        <img src="img/ic_price_parking.png" />{{step.parking.cost}}
                                    </p>
                                    <p ng-if="step.parking && step.parking.time">
                                        <img src="img/ic_look_for_parking.png" />{{step.parking.time}}
                                    </p>
                                </div>
                                <div>
                                    <div class="tt thumbnail">
                                        <img ng-src="{{step.mean.img}}">
                                        <div class="text-center" ng-if="step.length > 0">
                                            <div><small>{{step.length}}km</small>
                                            </div>
                                        </div>
                                        <div class="text-center" ng-if="step.cost > 0">
                                            <div><small>{{step.cost}} EUR</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END -->
                            <div class="row leg">
                                <div class="end-leg"><img src="img/ic_point_outline.png">
                                </div>
                                <div>{{toTime(currentItinerary.endtime)}}</div>
                                <div>{{requestedTo}}</div>
                            </div>
                            <button class="button button-viaggia-header button-block" ng-click=""> salva </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
