<ion-view id="tripdetails" title="{{'journey_detail' | translate}}">
    <ion-nav-buttons side="right">
        <button class="button button-viaggia-header button-fab" ng-class="{'many-options':tripId!=null,'single-options':tripId==null}" ng-click="openMapTrip()">
            <i class="icon ion-map"></i>
        </button>
        <nav ng-if="tripId!=null" mfb-menu position="tr" effect="zoomin" active-icon="ion-ios-close-empty" resting-icon="ion-ios-plus-empty" toggling-method="click">
            <a mfb-button label="{{labelModify}}" icon="ion-edit" ng-click="modifyTrip()"></a>
            <a mfb-button label="{{labelDelete}}" icon="ion-trash-b" ng-click="deleteTrip()"></a>
        </nav>

    </ion-nav-buttons>
    <ion-content id="content" has-header="true">
        <div class="row">
            <div class="col">
                <div class="panel panel-default trip-detail-panel">
                    <div class="panel-body">
                        <div>

                            <div class="green-head" ng-if="currentItinerary.promoted">
                                <div class="green-thumb"><img src="img/ic_leaf.png" />
                                </div>
                                <div class="green-content">
                                    <p class="green-title">{{'journey_details_sustainable' | translate}}</p>
                                </div>
                            </div>
                            <!-- START -->
                            <div class="row leg">
                                <div class=" start-leg">
                                    <img src="img/ic_point_outline.png">
                                </div>
                                <div class="margin-right-16 margin-left-16">{{toTime(currentItinerary.startime)}} </div>
                                <div class="col inter-leg">{{requestedFrom}}</div>
                            </div>
                            <!-- ROW -->
                            <div class="row leg" ng-repeat="step in currentItinerary.steps">
                                <div class="line-background">
                                    <img src="img/ic_point.png">
                                </div>
                                <div class="margin-right-16 margin-left-16">{{toTime(step.startime)}} </div>
                                <div class="col inter-leg">
                                    <p ng-if="step.action">{{step.action}}<strong ng-if="step.actionDetails">{{step.actionDetails}}</strong>
                                    </p>
                                    <p ng-if="step.from != null">{{step.fromLabel}}<strong>{{step.from}}</strong>
                                    </p>
                                    <p ng-if="step.to != null">{{step.toLabel}}<strong>{{step.to}}</strong>
                                    </p>
                                    <p ng-if="step.parking && step.parking.cost">
                                        <img src="img/ic_price_parking.png" />{{step.parking.cost}}
                                    </p>
                                    <p ng-if="step.parking && step.parking.time">
                                        <img src="img/ic_look_for_parking.png" />{{step.parking.time}}
                                    </p>
                                </div>
                                <div>
                                    <div class="tt thumbnail">
                                        <img ng-src="{{step.mean.img}}">
                                        <div class="text-center" ng-if="step.length > 0">
                                            <div><small>{{step.length}}km</small>
                                            </div>
                                        </div>
                                        <div class="text-center" ng-if="step.cost > 0">
                                            <div><small>{{step.cost}} &#8364;</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END -->
                            <div class="row leg">
                                <div class="end-leg"><img src="img/ic_point_outline.png">
                                </div>
                                <div class="margin-right-16 margin-left-16">{{toTime(currentItinerary.endtime)}} </div>
                                <div>{{requestedTo}}</div>
                            </div>
                            <button ng-if="tripId==null" class="button button-viaggia-header button-block" ng-click="saveTrip()">{{'journey_details_save' | translate}} </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
