<div>
    <div class="row row-center map-stop-title">
        <i class="icon popup-icon ion-leaf"></i>
        <div class="col">
            <b class="parking-title"> {{'lbl_welcome_title'|translate}}</b>
        </div>
    </div>
    <div class="map-stop-hline"></div>

    <button class="button button-viaggia-header button-block beta-button" ng-click="openGamificationBoard()">
        <div class="row beta-button">
            <i class="col-center icon"></i>
            <div class="col col-center">
                {{'btn_score' | translate}} </div>
        </div>
    </button>

    <button class="button button-viaggia-header button-block beta-button" ng-click="openRules()">
        <div class="row beta-button">
            <div class="col col-center">
                {{'btn_rules' | translate}} </div>
        </div>
    </button>


    <button class="button button-viaggia-header button-block beta-button" ng-click="openPrizes()">
        <div class="row beta-button">
            <i class="col-center icon"></i>
            <div class="col col-center">
                {{'registration_prizes' | translate}} </div>
        </div>
    </button>
    <button class="button button-viaggia-header button-block beta-button" ng-click="forceTutorial()">
        <div class="row beta-button">
            <i class="col-center icon"></i>
            <div class="col col-center">
                {{'tutorial' | translate}} </div>
        </div>
    </button>
    <!--    </div>-->
    <!--        <div class="col">-->

    <button class="button button-close button-block button-viaggia beta-button" ng-click="closePopup()">
        <div class="row beta-button">
            <i class="col-center icon"></i>
            <div class="col col-center">
                {{'btn_close' | translate}} </div>
        </div>
    </button>
</div>
