.button-viaggia-header, .button-viaggia-header.activated, .button-viaggia-header:hover,
.button-viaggia, .button-viaggia:hover,
.button-viaggia-selected, .button-viaggia-selected:hover,
.menu-rt, 
.parking-popup .popup-buttons button:not(.button-close),
.parking-meter-popup .popup-buttons button:not(.button-close),
.first-time-parking-meters-popup .popup-buttons button:not(.button-close),
.popup-buttons .button,
.trip-card .item-options
{
  background-color: #a9a836 !important;
}
 
.item-radio input:checked ~ .item-content {
  background: #a9a836 !important;
}

.plan-viaggia-fromto,
.taxi-number
{
  color: #a9a836 !important;
}
.button-viaggia-notselected, .button-viaggia-notselected:hover {
  background-color: rgba(169, 168, 54, 0.5);
}
