/* this is just an example - don't use !important */

.item-header {
    font-size: 12px !important;
    font-weight: bold;
}

.item-footer {
    font-size: 12px !important;
    font-weight: bold;
    /* the workaround below "fixes" the scrolling */

    margin-bottom: 28px !important;
}

.col-table {
    text-align: center;
    /*    padding: 3px 5px 3px 5px !important;*/

    padding: 0px!important;
    background-color: #e0f2be;
}

.col-fill {
    padding-top: 0px;
    padding-bottom: 2px;
    background-color: white;
}

.col-stop {
    text-align: center;
    padding: 0px!important;
    background-color: beige;
}

.stop-row {
    padding: 0!important;
}

.col-sep {
    border-left: 1px solid lightgray;
}

.col-head {
    padding-top: 0px;
    padding-bottom: 6px;
    text-align: center;
    background-color: crimson;
}

.min-75 {
    min-width: 75px;
}

.min-90 {
    min-width: 90px;
}

.min-50 {
    min-width: 50px;
}

.min-180 {
    min-width: 180px;
}

.min-705 {
    min-width: 705px;
}

.row-item {
    padding: 0px !important;
    margin-left: 0 !important;
    font-size: 12px !important;
}

.row.header td {
    width: 80px;
}
/*menu group*/

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.item-accordion item-content {
    background-color: lightgrey;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.no-padding {
    padding: 0px!important;
}

.padding-8 {
    padding: 8px;
}

.margin-8 {
    margin: 8px;
}

.input-plan-fromto {
    width: 100%;
    padding: 8px;
}

.button-plan-fromto {
    width: 56px;
    height: 56px
}

.button-plan-type {
    width: 80px;
    height: 80px;
    min-height: 80px;
    min-width: 80px;
}

.button-plan-type:before {
    font-size: 50px !important;
}

.plan-first-row {
    padding-top: 32px!important;
}

.plan-item-time {
    border-width: 0px !important;
}

.button-plan-pressed {
    background-color: green;
}

.button-popup {
    padding: 2px;
}
