/* this is just an example - don't use !important */

@font-face {
    font-family: RobotoMono;
    src: url(../fonts/Roboto_Mono/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 400;
    src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(../fonts/RobotoDraft.woff) format('woff');
}

@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 500;
    src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(../fonts/RobotoDraft-Medium.woff) format('woff');
}

@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 700;
    src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url(../fonts/RobotoDraft-Bold.woff) format('woff');
}

@font-face {
    font-family: 'RobotoDraft';
    font-style: italic;
    font-weight: 400;
    src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(../fonts/RobotoDraft-Italic.woff) format('woff');
}

.mfb-component__button--main i,
.mfb-component__button--child i {
    font-size: 24px;
}

.mfb-component__button--main [class^="ic_"],
.mfb-component__button--main [class*=" ic_"],
.mfb-component__button--child [class^="ic_"],
.mfb-component__button--child [class*=" ic_"] {
    line-height: 56px !important;
}
/*.platform-ios.platform-cordova:not(.fullscreen) */

.fs-header {
    display: block;
    height: 20px;
    background-color: #2975a7 !important;
    margin-top: -1px;
}

.item-header {
    font-size: 12px !important;
    font-weight: bold;
}

.item-footer {
    font-size: 12px !important;
    font-weight: bold;
    /* the workaround below "fixes" the scrolling */

    margin-bottom: 28px !important;
}

.col-table {
    text-align: center;
    /*    padding: 3px 5px 3px 5px !important;*/

    padding: 0px!important;
    background-color: #e0f2be;
}

.col-fill {
    padding-top: 0px;
    padding-bottom: 2px;
    background-color: white;
}

.col-stop {
    text-align: center;
    padding: 0px!important;
    background-color: beige;
}

.stop-row {
    padding: 0!important;
}

.col-sep {
    border-left: 1px solid lightgray;
}

.col-head {
    padding-top: 0px;
    padding-bottom: 6px;
    text-align: center;
    background-color: crimson;
}

.min-75 {
    min-width: 75px;
}

.min-90 {
    min-width: 90px;
}

.min-50 {
    min-width: 50px;
}

.min-180 {
    min-width: 180px;
}

.min-705 {
    min-width: 705px;
}

.row-item {
    padding: 0px !important;
    margin-left: 0 !important;
    font-size: 12px !important;
}

.row.header td {
    width: 80px;
}
/*menu group*/

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.item-accordion item-content {
    background-color: lightgrey;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.no-padding {
    padding: 0px!important;
}

.padding-8 {
    padding: 8px;
}

.margin-8 {
    margin: 8px;
}

.margin-left-16 {
    margin-left: 16px;
}

.margin-right-16 {
    margin-right: 16px;
}

.input-plan-fromto {
    padding: 8px;
    margin: 8px;
}

.plan-buttons-right {
    line-height: 68px;
}

.plan-buttons-right a {
    min-width: 65px;
    margin: auto;
    vertical-align: middle;
}

.button-viaggia-header {
    background-color: #3bbacf;
    color: white;
}

.button-viaggia-header.activated {
    background-color: #3bbacf !important;
}

.button-viaggia-header:hover {
    background-color: #3bbacf;
    color: white;
}

.button-viaggia {
    background-color: #3bbacf;
    color: white;
}

.button-viaggia:hover {
    background-color: #3bbacf;
    color: white;
}

.button-viaggia-selected {
    background-color: #3bbacf;
    color: white;
    box-shadow: none;
}

.button-viaggia-selected:hover {
    background-color: #3bbacf;
    color: white;
}

.button-viaggia-notselected {
    background-color: rgba(60, 186, 207, 0.5);
    color: white;
}

.button-viaggia-notselected:hover {
    background-color: rgba(60, 186, 207, 0.5);
    color: white;
}

.button-plan-fromto {
    width: 40px;
    height: 40px
}

.button-plan-type {
    width: 80px;
    height: 80px;
    margin: 8px;
    padding: 0px;
}

.button-plan-type:before {
    font-size: 50px !important;
}

.plan-preference-toggler {
    border: 0;
}

.space-from-top {
    padding-top: 40px!important;
}

.plan-item-time {
    border-width: 0px !important;
}

.button-plan-pressed {
    background-color: green;
}

.button-popup {
    padding: 2px;
}

.text-right {
    text-align: right;
}

.line-background {
    background-image: url("../img/ic_point_line.png")
}

.tt-day {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.tt-day.btn {
    font-size: 30px;
}

.tt-day.btn a:active,
.tt-day.btn a:hover,
.tt-day.btn a:focus,
.tt-day.btn a.activated {
    opacity: 0.5;
}

.leaflet-container {
    height: 100% !important;
}

#modal-map-container {
    height: 100%!important;
}

.route-list .list {
    padding-top: 20px;
}

.route-list .list ion-item {
    padding-top: 0px;
    padding-bottom: 0px;
}

.route-list .list ion-item .button {
    text-align: left;
}

.route-grid-row {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.route-grid-element {
    width: 60px;
    height: 60px;
    margin: auto;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.route-grid-element span {
    text-align: center;
    font-size: 24px;
    line-height: 56px;
    font-weight: bold;
}

.ic-text {
    font-family: 'viaggia';
}

.menu-rt:not(.item-accordion) {
    text-transform: uppercase;
}

.menu-rt,
.menu-main,
.menu-last {
    color: #fff !important;
}

.menu-rt {
    background-color: #3bbacf !important;
}

.menu-main {
    background-color: #2975a7 !important;
}

.menu-last {
    background-color: #2975a7 !important;
}

.menu-rt.item-icon-left .icon,
.menu-rt.item-icon-right .icon,
.menu-main.item-icon-left .icon,
.menu-last.item-icon-left .icon {
    font-size: 22px;
}

.menu-rt .item-content,
.menu-main .item-content,
.menu-last .item-content {
    padding-left: 59px !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.menu-left {
    background-color: #2975a7;
}

.bar-positive-100 {
    background-color: #2975a7 !important;
}

.placeautocomplete ul {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 99;
}

.card-tt {
    padding: 16px 8px;
    white-space: normal;
    text-transform: uppercase;
}

.parking-card .row,
.parking-card .col {
    padding: 0px;
}

.parking-card.selected {
    background-color: rgba(59, 186, 207, 0.5);
}

.parking-card .col-80 p {
    white-space: normal;
}

.parking-card-footer {
    min-height: 40px;
}

.parking-card-footer .col {
    position: relative;
}

.parking-card-footer .col span {
    position: absolute;
    bottom: 0;
}

.parking-card-footer .col-right span {
    right: 0px;
}

.col-right > div {
    float: right;
}

.parking-meter img {
    box-shadow: none;
    margin: auto;
    width: 70px;
    height: 30px;
}

.avail-green {
    font-weight: bold;
    color: #8cc04c;
}

.avail-red {
    font-weight: bold;
    color: #e84539;
}

.avail-yellow {
    font-weight: bold;
    color: #f39619;
}

.parking-popup .popup {
    width: 80%;
    max-width: 400px;
}

.parking-popup .popup-title {
    text-align: left;
    text-transform: uppercase;
}

.parking-popup .popup-buttons button {
    white-space: normal;
    padding: 0px;
    background-color: #3bbacf !important;
    color: #fff !important;
}

ion-header-bar .title {
    color: #fff !important;
}

.close-modal {
    font-size: 24px;
    padding-left: 16px;
    padding-top: 4px;
    line-height: 40px;
}

.stop-line-list .item {
    padding: 8px 16px;
    min-height: 0;
    white-space: normal;
}

.stop-line-grid .route-grid-element {
    margin: 4px 8px 4px 0;
    display: inline-block;
}

.stop-line-title {
    padding: 8px 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stop-line .row {
    padding: 0;
}

.stop-line .row .col {
    border-bottom: 1px solid #d2d2d2;
    padding: 16px 0px;
    border-right: 1px solid #d2d2d2;
}

.stop-line .row .col:last-child {
    border-right: 0;
}

.many-options {
    margin-top: 0px;
    margin-right: 100px;
}

.single-options {
    margin-top: 0px;
    margin-right: 0px;
}

.mfb-component__wrap {
    padding-top: 16px!important;
}

.empty-list-card {
    min-height: 50px;
    text-align: center;
}

.credits_title {
    text-align: center;
    color: #2975a7;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.credits_subtitle {
    text-align: center;
    color: #2975a7;
    font-size: 18px;
    font-weight: bold;
}

.credits_row {
    padding: 0;
    margin-bottom: 10px;
}

.credits_row.last {
    margin-bottom: 20px;
}

.credits_row.version {
    color: #aaa;
}

.credits_row.version .col {
    font-size: 12px;
    line-height: 12px;
}

.credits_mail {
    color: black;
    font-size: 14px;
    font-weight: normal;
}

.credits_version {
    text-align: center;
}

.close-credits {
    padding: 8px;
}

.image.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.popup {
    max-width: 400px!important;
    width: 90%!important;
}

.popup-buttons .button {
    background-color: #3bbacf;
    color: #fff;
}

.list-journey {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    display: block;
    margin: 8px;
    padding: 0;
    position: relative;
    width: auto !important;
}

.home-list .list {
    padding: 16px 8px;
}

.home-list ion-item {
    padding: 0px;
}

.home-list .button {
    text-align: left;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    min-height: 70px;
    margin: 5px 0px;
    padding: 0px 16px;
}

.home-list .button i {
    margin-right: 16px;
}

.home-list .button i::before {
    font-size: 44px;
}

.line-background-for-list {
    background-image: url("../img/ic_point_line_list.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.green-bottom {
    width: 100%;
    background-color: #4caf4f;
    color: white;
    height: 24px;
    text-align: center;
}

.green-head {
    background-color: #4caf4f;
    padding-top: 4px;
    height: 40px;
    overflow: auto
}

.green-thumb {
    float: right
}

.green-thumb img {
    display: block;
    height: auto;
    width: auto;
    max-width: 30px;
    max-height: 30px;
}

.green-content {
    margin-left: 24px
}

.green-title {
    color: white;
}

.trip-detail-panel {
    padding-top: 24px;
}

.placeautocomplete {
    position: relative;
}

.placeautocomplete-input {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.placeautocomplete-input:focus {
    text-overflow: clip;
}

.placeautocomplete.notempty .placeautocomplete-input {
    padding-left: 24px;
}

.placeautocomplete.notempty .placeautocomplete-input-clear {
    position: absolute;
    top: 0.5em;
    left: 0;
    color: #AAAAAA;
}

.plan-viaggia-fromto {
    margin: auto;
    color: #3bbacf;
    box-shadow: none;
    padding: 0 12px;
}

.plan-viaggia-fromto:hover {
    color: rgba(60, 186, 207, 0.5);
    box-shadow: none;
}
/*redefine style for checkbox*/

.ion-checkmark:before {
    color: white;
}

.item-radio input:checked ~ .item-content {
    background: #3bbacf;
}

.item-radio input:checked + .item-content {
    background: #3bbacf;
}

.item-radio input:checked + .radio-icon {
    visibility: visible;
}

.list-of-icons {
    min-width: 50px;
}

#table-header {
    white-space: nowrap;
    font-family: RobotoMono;
    position: absolute;
    background-color: #fff;
    font-size: 12px;
    left: 100px;
    z-index: 10;
}

#table-header div {
    border-bottom: 1px solid #bbb;
}

#table-header div:first-child {
    color: #cd251c;
}

#table-table {
    white-space: nowrap;
    font-family: RobotoMono;
    left: 100px;
    font-size: 12px;
    position: absolute;
}

#table-col {
    line-height: 20px;
    white-space: nowrap;
    font-size: 12px;
    position: absolute;
    background-color: #fff;
    width: 100px;
    border-right: 1px solid #bbb;
    z-index: 10;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
    padding-left: 5px;
}

#table-corner {
    font-size: 12px;
    border-right: 1px solid #bbb;
    position: absolute;
    width: 100px;
    background-color: #fff;
    z-index: 100;
    text-align: center;
    top: 50px;
}

#table-corner div {
    border-bottom: 1px solid #bbb;
}

.table-container {
    padding: 0px;
}

.table-container ion-scroll {
    margin-top: 0;
}

.markets-home img {
    height: 50px;
    width: 50px;
    margin-right: 12px;
    vertical-align: bottom;
}

.markets-home span {
    line-height: 50px;
}

.market-subtitle {
    text-align: center;
    font-weight: bold;
    color: #2975a7;
}

.market-text1 {
    text-align: center;
    font-weight: bold;
}

.market-text2 {
    text-align: justify;
}

.length-price {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.card .trip-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 5px;
}

.ionic-datepicker .right_arrow,
.ionic-datepicker .left_arrow {
    margin: auto;
}

.timePickerColon {
    padding-top: 0px !important;
    margin-bottom: auto;
    margin-top: auto;
}

.timePickerArrows {
    padding-left: 0px;
    padding-right: 0px;
}

.close-modal {
    font-size: 32px;
    padding-top: 2px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .mfb-component--tr {
    margin-top: 45px;
}

.error {
    color: red;
    text-align: center;
}
