/* this is just an example - don't use !important */

.item-header {
    font-size: 12px !important;
    font-weight: bold;
}

.item-footer {
    font-size: 12px !important;
    font-weight: bold;
    /* the workaround below "fixes" the scrolling */

    margin-bottom: 28px !important;
}

.col-table {
    text-align: center;
    /*    padding: 3px 5px 3px 5px !important;*/

    padding: 0px!important;
    background-color: #e0f2be;
}

.col-fill {
    padding-top: 0px;
    padding-bottom: 2px;
    background-color: white;
}

.col-stop {
    text-align: center;
    padding: 0px!important;
    background-color: beige;
}

.stop-row {
    padding: 0!important;
}

.col-sep {
    border-left: 1px solid lightgray;
}

.col-head {
    padding-top: 0px;
    padding-bottom: 6px;
    text-align: center;
    background-color: crimson;
}

.min-75 {
    min-width: 75px;
}

.min-90 {
    min-width: 90px;
}

.min-50 {
    min-width: 50px;
}

.min-180 {
    min-width: 180px;
}

.min-705 {
    min-width: 705px;
}

.row-item {
    padding: 0px !important;
    margin-left: 0 !important;
    font-size: 12px !important;
}

.row.header td {
    width: 80px;
}
/*menu group*/

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.item-accordion item-content {
    background-color: lightgrey;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.no-padding {
    padding: 0px!important;
}

.padding-8 {
    padding: 8px;
}

.margin-8 {
    margin: 8px;
}

.input-plan-fromto {
    width: 100%;
    padding: 8px;
}

.button-viaggia-header {
    background-color: #3bbacf;
    color: white;
}

.button-viaggia-header.activated {
    background-color: #3bbacf !important;
}

.button-viaggia-header:hover {
    background-color: #3bbacf;
    color: white;
}

.button-viaggia {
    background-color: #3bbacf;
    color: white;
}

.button-viaggia:hover {
    background-color: #3bbacf;
    color: white;
}

.button-viaggia-selected {
    background-color: #3bbacf;
    color: white;
}

.button-viaggia-selected:hover {
    background-color: #3bbacf;
    color: white;
}

.button-viaggia-notselected {
    background-color: rgba(60, 186, 207, 0.5);
    color: white;
}

.button-viaggia-notselected:hover {
    background-color: rgba(60, 186, 207, 0.5);
    color: white;
}

.button-plan-fromto {
    width: 40px;
    height: 40px
}

.button-plan-type {
    width: 80px;
    height: 80px;
}

.button-plan-type:before {
    font-size: 50px !important;
}

.plan-first-row {
    padding-top: 32px!important;
}

.plan-item-time {
    border-width: 0px !important;
}

.button-plan-pressed {
    background-color: green;
}

.button-popup {
    padding: 2px;
}

.text-right {
    text-align: right;
}

.line-background {
    background-image: url("../img/ic_point_line.png")
}

.tt-day {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    padding: 0;
}

.tt-day.btn {
    font-size: 30px;
}

.tt-day.btn a:active,
.tt-day.btn a:hover,
.tt-day.btn a:focus,
.tt-day.btn a.activated {
    opacity: 0.5;
}

.leaflet-container {
    height: 100% !important;
}

#modal-map-container {
    height: 100%!important;
}

.route-list .list {
    padding-top: 20px;
}

.route-list .list ion-item {
    padding-top: 0px;
    padding-bottom: 0px;
}

.route-list .list ion-item .button {
    text-align: left;
}

.route-grid-row {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.route-grid-element {
    width: 60px;
    height: 60px;
    margin: auto;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.route-grid-element span {
    text-align: center;
    font-size: 24px;
    line-height: 56px;
    font-weight: bold;
}

.ic-text {
    font-family: 'viaggia';
}

.menu-rt:not(.item-accordion) {
    text-transform: uppercase;
}

.menu-rt,
.menu-main,
.menu-last {
    color: #fff !important;
}

.menu-rt {
    background-color: #2975a7 !important;
}

.menu-main {
    background-color: #2989a7 !important;
}

.menu-last {
    background-color: #3bbacf !important;
}

.menu-rt.item-icon-left .icon,
.menu-rt.item-icon-right .icon,
.menu-main.item-icon-left .icon,
.menu-last.item-icon-left .icon {
    font-size: 22px;
}

.menu-rt .item-content,
.menu-main .item-content,
.menu-last .item-content {
    padding-left: 59px !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.menu-rt.item-accordion:first-child {
    border-top: 1px solid #000;
}

.menu-left {
    background-color: #3bbacf;
}

.bar-positive-100 {
    background-color: #2975a7 !important;
}

.placeautocomplete ul {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 99;
}

.card-tt {
    padding: 16px 8px;
    white-space: normal;
    text-transform: uppercase;
}

.parking-card .row,
.parking-card .col {
    padding: 0px;
}

.parking-card.selected {
    background-color: rgba(59, 186, 207, 0.5);
}

.parking-card .col-80 p {
    white-space: normal;
}

.parking-card-footer {
    min-height: 40px;
}

.parking-card-footer .col {
    position: relative;
}

.parking-card-footer .col span {
    position: absolute;
    bottom: 0;
}

.parking-card-footer .col-right span {
    right: 0px;
}

.col-right > div {
    float: right;
}

.parking-meter img {
    box-shadow: none;
    margin: auto;
    width: 70px;
    height: 30px;
}

.avail-green {
    font-weight: bold;
    color: #8cc04c;
}

.avail-red {
    font-weight: bold;
    color: #e84539;
}

.avail-yellow {
    font-weight: bold;
    color: #f39619;
}

.parking-popup .popup {
  width: 80%;
  max-width: 400px;
}

.parking-popup .popup-title {
    text-align: left;
    text-transform: uppercase;
}

.parking-popup .popup-buttons button {
    white-space: normal;
    padding: 0px;
    background-color: #3bbacf !important;
    color: #fff !important;
}

ion-header-bar .title {
    color: #fff !important;
}

.close-modal {
    font-size: 24px;
    padding-left: 16px;
    padding-top: 4px;
    line-height: 40px;
}

.stop-line-list .item {
  padding: 8px 16px;
  min-height: 0;
  white-space: normal;

}

.stop-line-grid .route-grid-element {
  margin: 4px 8px 4px 0;
  display: inline-block;
}

.stop-line-title {
  padding: 8px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stop-line .row {
  padding: 0;
}
.stop-line .row .col {
  border-bottom: 1px solid #d2d2d2;
  padding: 16px 0px;
  border-right: 1px solid #d2d2d2;
}
.stop-line .row .col:last-child {
  border-right: 0;
}
